[2011-10-26 13:05] keesschepers opened #2 "getOriginalEntityData seems to return the new data"
I'm trying to use this EntityAudit extension and i'm forking it for using it in a Zend Framework application. But there seems to be one problem, in the Entity_audit table the LogRevisionsListener writes the NEW data into the table and that's not what you want.

I either think that this wasn't ment to because when a audited entity gets updated I see $this->uow->getOriginalEntityData() which you wou

[2011-12-16 09:33] #2 closed, assigned to nobody

[2011-12-21 19:29] mablae opened #3 "Inheritance Mapping¶"
Is this already compatible with SIngle Table Inheritance Mapping?

Thanks,
Malte

[2012-01-23 19:31] suncat2000 opened #6 "Problem, how use PostgreSQL and Sonata sandbox"
PostgreSQL 9.1 and [sonata-sandbox](https://github.com/sonata-project/sandbox/)
[Issue in sonata-project](https://github.com/sonata-project/sandbox/issues/14)
When used PostgreSQL, command `sonata:page:update-core-routes` raises an exception:

[code]

Before this command run:

`````` doctrine:database:create```
```doctrine:schema:create```
```doctrine:fixtures:load```

When used MySQL, everything

[2012-02-07 17:35] stefi023 opened #9 "Using the same entity in both OneToMany and OneToOne"
I have found an error while versioning entities like: (error is while auditing Customer entity)

[code]

the UnitOfWork::getEntityIdentifier throws an notice "Undefined index: ........"
in UnitOfWork::entityIdentifiers array - the hash is different that the stored one

TESTED ON Doctrine 2.1.3 and 2.1.6

[2012-05-16 08:04] franek opened #15 "Impossible to create trigger for revisions table on Oracle"
On Oracle database, it is not possible to create the trigger for the table REVISIONS because EntityAudit uses a reserved word (see http://docs.oracle.com/cd/B19306_01/em.102/b40103/app_oracle_reserved_words.htm).

When I try to create the trigger, I obtain this error :

CREATE TRIGGER REVISIONS_AI_PK
   BEFORE INSERT
   ON REVISIONS
   FOR EACH ROW
DECLARE
   last_Sequence NUMBER;
   last_InsertID

[2012-06-22 00:17] marcospassos opened #20 "[Request] Annotation support and lasted revision"
Is possible add annotation support and a method to get the lasted revision?

[2012-07-31 18:41] robbanl opened #22 "Troubles with fresh install (autoload.php)"
Hi,

Got this error with a fresh install:

"Fatal error: Class 'SimpleThings\EntityAudit\SimpleThingsEntityAuditBundle' not found in /var/www/app/AppKernel.php on line 27"

Had to change my autoload.php file to use this source instead:

'SimpleThings\EntityAudit'     => **DIR**.'/../vendor/bundles/SimpleThings/EntityAudit/src',

[2012-08-02 14:11] userfriendly opened #23 "Error thrown in audit/viewent with DateTime fields in entity"
An exception has been thrown during the rendering of a template ("Catchable Fatal Error: Object of class DateTime could not be converted to string in app/cache/dev/twig/32/20/728a51b7c5307253f040a251085b.php line 62") in SimpleThingsEntityAuditBundle::layout.html.twig at line 1.

I suppose I could override the template and deal with the DateTime to string conversion myself. But I'm just playing ar

[2012-08-07 15:26] userfriendly opened #24 "Unchanged DateTime fields listed as changed between revisions"
When comparing revisions of entities containing a DateTime field (e.g. "createdAt"), the field is treated as having changed even though it hasn't.

I assume this is because of line 44 in the ArrayDiff class.

Is there a suggested workaround / fix?

[2012-09-08 07:29] bobemoe opened #26 "SQL syntax error when viewing revisions on entities with MySQL reserved yet quoted field names."
Entity with fields \`to\` and \`from\` produces invalid SQL due to not being quoted is the AS part.

Fields on entity are defined as such:
    /**
     * @var string $to
     * @ORM\Column(name="\`to\`", type="string", length=255)
     */
    private $to;

SQL errors:

SELECT e.revtype, id AS id, name AS name, \`to\` AS to, \`from\` AS from, subject AS subject, body AS body FROM MailTemplate_audit

[2012-10-07 21:11] beberlei opened #28 "PostgreSQL Result Casing"

[2012-10-07 21:12] #28 closed, assigned to nobody

[2012-10-11 13:59] binarious opened #30 "Entites with properties containing an underscore don't work"
When finding an Entity at a specific revision with an underscore property I get the following error:

[code]

It doesn't work because `$this->em->getConnection()->fetchAssoc(...)` returns this field as `usernameCanonical`.

[2012-10-30 08:27] psylo31 opened #31 "Undefined index when i delete an entity which is audit"
Notice: Undefined index: titre in MyPath\vendor\simplethings\entity-audit-bundle\src\SimpleThings\EntityAudit\EventListener\LogRevisionsListener.php line 206

Entity User :

/**
     * @ORM\OneToOne(targetEntity="MyProject\ReveBundle\Entity\Reve", cascade={"persist", "remove"})
     */
    protected $reve;

Action in my Reve repository to remove :

$user->setReve();
$this->_em->persist($user);
$th

[2012-11-04 15:18] tawfekov opened #32 "Zend Framework 2 Module"
Hello ,
I am trying to create ZF2 Module for EntityAudit , in this Repo https://github.com/tawfekov/ZF2EntityAudit
I was able to integrate EntityAudit into ZF2 ,
getting AuditManager would be like ( in controller class )

[code]

and auditReader :

[code]

but when creating the tables using doctrine cli  , it  doesn't create the version-ed  table

can any body suggest a solution ???

after that  I

[2012-11-10 17:01] cejen opened #33 "Extend Revision class with new atrribute"
Is possible to extend Revision class with new attribute for storing user description of revision? Thanks

[2013-02-08 20:08] #32 closed, assigned to nobody

[2013-02-15 08:57] marfillaster opened #37 "Allow tagging of version"
It would be nice to have a particular version tagged similar to git. It doesn't have to be unique.

Then add revertByTag() method to repository class

[2013-07-07 07:10] #33 closed, assigned to nobody

[2013-07-07 07:12] #30 closed, assigned to nobody

[2013-07-07 07:12] #22 closed, assigned to nobody

[2013-07-07 07:13] #24 closed, assigned to nobody

[2013-07-07 18:30] borodiliz opened #41 "Broken dependencies with doctrine orm?"
Hi,

Firstly...thanks in advance for this great bundle!

With today's release (v0.5) I'm having some broken dependencies  with composer, if I set composer.json to

[code]

I'm getting the following error:

[code]

Setting composer.json to  v0.3 fix the problem

[code]

Thanks for you help

[2013-07-08 15:15] #41 closed, assigned to nobody

[2013-08-26 22:36] nford opened #44 "How to set table prefix on all tables including "revisions"?"
With a large number of tables in my DB I would like to prefix all the tables related to this bundle. Have attempted to set 'table_prefix' in config but doesn't seem to apply to 'revisions'.

[2013-12-27 11:02] NelsonSR opened #49 "Can't login after declaration in AppKernel.php (JSON issue?)"
I'm having a "little" problem just after declare EntityAuditBundle on `AppKernel.php`: I just can't login (using SonataAdmin). If I comment that line, everything works just fine, even if I don't configure it in `config.yml` and `routing.yml` (I guess there's nothing to do with `autoload.php`). Just to put the line `new SimpleThings\EntityAudit\SimpleThingsEntityAuditBundle()` on AppKernel.php caus

[2013-12-28 11:48] #49 closed, assigned to nobody

[2014-02-18 15:57] jrdnrc opened #52 "Join Table Inheritance"
Hi,

I understand join table inheritance is not currently implemented in this bundle. Are there any plans to implement it? I would love to use this bundle, but unfortunately, without this implementation, I can't use it :( I am currently trying to implement it myself but not having much luck.

Thanks

[2014-03-26 11:06] welante opened #55 "Exclude columns from triggering a revision"
I have some table columns which I don't want to track. It would be nice to ignore some columns and not trigger a revision if only one of these column values changed.

[2014-04-01 18:53] adonix opened #57 "EntityAudit not generating any revision tables at all"
I'm trying to use your EntityAudit bundle, but when I ran the schema update command nothing happens. No revision tables were generated at all. The only table that got created is "revisions". I ran this command:

[code]

And of course, never saw anything about creating my selected revision tables. When I say selected, I went into my app/config/config.yml and added these entries:

[code]

After addi

[2014-04-02 18:26] #57 closed, assigned to nobody

[2014-05-09 08:45] dunglas opened #59 "Tag a new release"
Can you tag a new release? The current stable is 10 month old and miss a lot of bug fixes and enhancement.

[2014-05-09 10:00] #59 closed, assigned to nobody

[2014-05-14 14:15] astletron opened #63 "retrieve entities as they were at a specific revision"
I would like to be able to 'snapshot' data by getting all entities as they were at a specific revision number.

One way to achieve this might be to modify AuditReader::find such that a NULL $id parameter results in returning an array of 'latest' (greatest revision number equal to or less then the target revision number and not deleted) entities.

https://github.com/simplethings/EntityAudit/blob/ma

[2014-05-29 19:58] spinx opened #64 "Store audit data in a separate database"
Great extension, thanks!

I'd like to store audit data in a separate database, potentially on a different physical server.

Is such a thing even possible ?

If it's just supplying the config option for new entity manager and using it in LogRevisionsListener, then I can do it and create a pull request, it just seems too easy to not be in there already :)

[2014-06-11 20:00] bobvandevijver opened #66 "Revisions numbers are unlogical"
Every object should start with rev 1, the insert statement.
The next update should give rev 2, not rev 26 if there were 24 other changes to other, unrelated objects of the same type happened inbetween.

[2014-06-19 08:55] pokap opened #67 "Take out backup process of LogRevisionsListener"
Hello,

I just installed the EntityAudit, but when I need save an entity that exists, the `LogRevisionsListener` save a new revision with the new version of entity, but I need made a first backup before for the original state.
### Proposition
- Take out the backup process of `LogRevisionsListener` in a new class `LogRevisions` for create an API usable when we want.
- Adding configuration for the f

[2014-06-28 12:24] salamichel opened #69 "Issue combine Gedmo\Slug"
Hi,

I try to use gedmo Slug with your bundle but when i try to create new record i have an constraint error message

SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '853-239' for key 'PRIMARY'

Here the debug result message, as you cas see, res_bien_audit is call two times

DEBUG - SELECT r0_.slug AS slug0 FROM res_bien r0_ WHERE (r0_.slug LIKE 'my string to slugify%') AND r

[2014-07-10 09:37] benr77 opened #70 "Compare.html.twig DateTime errors"
When rendering the compare.html.twig view, errors are generated by the following variables which need to be presented as date strings

{{ value.old }}
{{ value.same }}
{{ value.new }}

I have added the Twig date() filter e.g.

{{ value.old|date('jS M Y H:i') }}

However, I still run in to problems with the "value.same" parameter - Twig is reporting

"DateTime::__construct(): Failed to parse time s

[2014-07-14 10:47] rvanlaak opened #71 "POC: Let admin users confirm change"
We do not want users to directly modify their bank account number. An admin or moderator should confirm every change before the actual database change will be made.

http://stackoverflow.com/questions/24733767/let-admin-confirm-database-change

I'm already making use of this bundle for a while, it is great when it comes to maintaining historic data. So I'd like to improve it with features to allow

[2014-08-07 08:11] #55 closed, assigned to nobody

[2014-08-28 13:03] pierrebayartz opened #73 "Audit other entity managers"
Hi!

Are there any plans to implement auditing entites from another entity manager?

Regards

[2014-09-25 10:22] JavierJimenez opened #74 "Exception thrown in the SimpleThingsEntityAuditBundle:Audit:view_detail.html.twig template when the entity property is a array"
I have the following entity definition:

   /**
    \* @var simple_array $items
    *
    \* @ORM\Column(name="items", type="simple_array", nullable=true)
    */
   protected $items;

When I try to render the view_datail.html.twig, I got the next error:

An exception has been thrown during the rendering of a template ("Notice: Array to string conversion  in ... line xx") in SimpleThingsEntityAudit

[2014-09-30 10:53] hoshsadiq opened #79 "Inspired by Hibernate Envers, is it compatible?"
So the readme says this is inspired by Hibernate Envers, does this mean it's also compatible with it? If I have a Hibernate based project with a Symfony2 project, will they work together?

[2014-10-12 00:00] #79 closed, assigned to nobody

[2014-10-15 09:03] ctissier opened #80 "Retrieve audited OneToMany relations"
Hi,

I have an entity named Company which has a OneToMany relationship with another called CompanyLot.

The relation is described by the following in my MYDIR\CoreBundle\Entity\Entity\Company.php:

[code]

Both "Company" and "CompanyLot" are audited, and I see the modifications in `xxx_audit` tables.

When I fetch the different revs of Company, I need to get the "CompanyLot"s that where attached t

[2014-11-04 13:35] k0pernikus opened #81 "Is global_ignore_columns not supported anymore?"
I was working my way [through the doc](https://github.com/simplethings/EntityAudit/blob/master/README.md#appconfigconfigyml) and stumbled across:

[code]

And true enough, the sample config does not show "global_ignore_columns".

[code]

So this will run:

[code]

Have I erred somewhere on the way in setting this up, or has the `global_ignore_config` been removed?

[2014-11-04 15:03] #81 closed, assigned to nobody

[2014-11-21 11:50] #3 closed, assigned to nobody

[2014-11-21 11:51] #52 closed, assigned to nobody

[2014-11-22 15:20] andrewtch opened #83 "Audit Events"
It would be nice to have internal events for audit manger (like "before audit write") etc, that could modify audited data (like converting 1234 5678 0000 0000 card number to 1234 ***\* ***\* **00).

If this behavior is OK, I'll make a PR.

[2014-11-22 15:31] andrewtch opened #84 "Entity traversing"
Current implementation of AuditReader is a bit inflexible (e.g. it's not possible to count revisions, get all history for a particular class - e.g. I want to see all User changes with no id limits, also see #63 and #20).

I'd like to have, at least, following methods:
- getRevisionCount()
- getEntityHistory(array $entityClasses)

If this is OK, I'll make a PR.

[2014-11-26 14:33] andrewtch opened #85 "ManyToMany relation audit"
Subj, this is not happening.

[2014-11-28 15:44] andrewtch opened #87 "ManyToOne inheritance bugs"
When the ManyToOne mapping to $organisation is on the abstract class I get an exception saying the organisation_id field is not mapped. The _audit table for each subclass includes all other fields from the abstract class except for those that are ManyToOne associations.

Adding the abstract class to audited_entities in config.yml does not stop the error. Moving the ManyToOne mapping for to each su

[2014-11-28 17:01] andrewtch opened #88 "Increase code coverage to near 100% for LogRevisionsListener and AuditReader"
Since these are main classes for auditing

[2014-12-02 10:04] andrewtch opened #89 "Respect lazy - loading and make some AuditedCollection for relations snapshots"
When we load huge 1:M relations, we should have some AuditedCollection instead of fetching all data and loading it into ArrayCollection

[2014-12-02 10:17] #80 closed, assigned to nobody

[2014-12-03 16:02] andrewtch opened #90 "Field names are not escaped"
DBALException: An exception occurred while executing 'SELECT lft AS left, rgt AS right, lvl AS level, global AS global, id AS id FROM su_Template_audit e WHERE e.rev <= ? AND id = ? ORDER BY e.rev DESC' with params [5, "016zsta0f0004ogs4wok"]:
Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right sy

[2014-12-04 14:45] andrewtch opened #91 "JoinedTable fails if there are relations to AbstractEntity"
If I have an entity that has 1:M relation with abstract entity (that one defining discriminators, and not with concrete class), auditing fails.

[2014-12-04 16:09] andrewtch opened #92 "Relation loading bug"
It never loads 1:M collections if there are items belonging to other classes

[2014-12-05 14:06] #92 closed, assigned to nobody

[2014-12-06 09:36] #91 closed, assigned to nobody

[2014-12-06 19:26] #90 closed, assigned to nobody

[2014-12-11 14:12] zied-ellouze opened #100 "How to use entity_audit in QueryBuilder"
I want to use CreateQueryBuilder with Audited Entity
But I did not find the syntax I should use
Can you help me

[2014-12-16 14:28] #89 closed, assigned to nobody

[2014-12-22 14:27] ruscon opened #105 "Working with relations (translation bundle)"
Hi, i using translation bundle https://github.com/a2lix/TranslationFormBundle
And Audit bundle don't create any schema for relation tables automatically.

Its work only if i prescribed in the manual as in example

[code]

Can you check this, please.

And how to show in SonataAdmin history page with translation field ?
May be have some examples ?

[2014-12-23 12:24] #74 closed, assigned to nobody

[2014-12-23 12:25] #71 closed, assigned to nobody

[2014-12-23 12:25] #73 closed, assigned to nobody

[2014-12-23 12:27] #70 closed, assigned to nobody

[2014-12-23 12:32] #6 closed, assigned to nobody

[2014-12-23 12:34] #23 closed, assigned to nobody

[2014-12-23 14:14] #69 closed, assigned to nobody

[2014-12-23 14:17] #44 closed, assigned to nobody

[2014-12-29 08:57] amitblues123 opened #108 "Revision_id_sequence is not getting created"
![selection_018](https://cloud.githubusercontent.com/assets/6374897/5567416/681d2228-8f6a-11e4-8891-312297a81197.png)
When we upgraded our application, we are getting the REVISIONS_ID_SEQ is not created and we check the database REVISIONS_SEQ is getting created instead of REVISIONS_ID_SEQ.

After that when we modify the code
$sequenceName = $this->platform->supportsSequences()
                ? 'R

[2015-01-05 15:04] andrewtch commented on #87
@mpclarkson , can you look at this? )

[2015-01-05 22:26] mpclarkson commented on #87
@andrewtch Yes, this has fixed the bug .Sorry for the delay in responding - took some time away from my computer over Christmans/New Year.

[2015-01-06 09:36] andrewtch commented on #87
It's fine, hope you've had great time )

[2015-01-06 09:38] DavidBadura commented on #87
:+1: :)

[2015-01-09 18:07] #9 closed

[2015-01-10 14:00] andrewtch commented on #31
@psylo31 , @rickard2 , thsi should be fixed by now. Can you test?

[2015-01-10 14:01] andrewtch commented on #26
@bobemoe , this should be fixed by now. Please re-check or close.

[2015-01-10 23:23] bobemoe commented on #26
I no longer maintain the project that this affected so can't easily test.  I will close this issue. Thanks.

[2015-01-10 23:23] #26 closed

[2015-01-15 11:30] arlin2050 opened #111 "Method prepareUpdateData does not exist"
Hi,

when I use EntityAudit and SoftDeleteable on the same entity and I remove this entity, I got this error :

ReflectionException: Method prepareUpdateData does not exist in SimpleThings/EntityAudit/EventListener/LogRevisionsListener.php line 114

Seems that entityAudit is launched two times and the second time I got this error. Also, putting this on line 114 resolves the issue but I don't know

[2015-01-15 17:13] andrewtch commented on #111
Hi,

can you give your example entity? Thanks!

[2015-01-16 08:11] arlin2050 commented on #111
Here is the mapping :
[code]

And the EntityAudit configuration :
[code]

The php class for this entity is auto-generated via doctrine :
[code]
Thanks !

[2015-01-22 16:43] andrewtch commented on #111
@arlin2050 , as you can see in #113, everything works fine (however your use case allowed to find at least one bug).

It seems I can not repeat your issue. Can you update doctrine / EA to latest versions and check again? Can you provide a test that 100% repeats the issue?

Thanks!

[2015-01-23 12:13] arlin2050 commented on #111
Thanks for the reply. I'll try to update doctrine and check again.

[2015-01-24 23:40] CountZero1981 commented on #31
Seems that it fixed in latest build. I've had this problem in SonataAdminBundle and it disappeared after update.

[2015-01-28 13:00] andrewtch commented on #111
@arlin2050 , what's the status on this? )

[2015-01-29 10:16] arlin2050 commented on #111
Hi,

My doctrine/orm version is v2.3.6. It's the latest possible version of doctrine for my installation which depends on Symfony 2.3 LTS.
EntityAudit version is up to date with dev-master.

Lauching unit tests, I've got two errors :
1) SimpleThings\EntityAudit\Tests\IssueTest::testIssue111
ReflectionException: Method prepareUpdateData does not exist

vendor/simplethings/entity-audit-bundle/src/Si

[2015-01-29 13:26] andrewtch commented on #111
Ok, please see #115, this should fix the issue.

[2015-01-29 15:31] arlin2050 commented on #111
Applying the three commits available in #115, I've got this error :

[code]
Real exception is :
[code]

I've got this error because I use the property name on a column, and my column deletedAt in database is not camel case but 'deleted_at'. Maybe another issue ?
Thanks

[2015-01-29 15:35] andrewtch commented on #111
Still the same entity yet with ```@Column(type="datetime", name="deleted_at")``` ?

[2015-01-29 15:36] andrewtch commented on #108
Can you please provide test case or a PR? We currently lack an oracle test suite.

[2015-01-29 15:45] andrewtch commented on #111
...anyway, please check #116 )

[2015-01-29 15:48] andrewtch commented on #15
@franek , sorry for necroposting, but can you still confirm this? )

[2015-01-29 15:50] dbykadorov commented on #108
I have the similar issue with PostgreSQL with EntityAudit 0.7:

[code]

[code]

By default schema tool want to creare entity_audit_revision_id_seq but the sequence name, as mentioned by @amitblues123, has been hardcoded in SimpleThings\EntityAudit\EventListener\LogRevisionsListener

https://github.com/simplethings/EntityAudit/blob/v0.7/src/SimpleThings/EntityAudit/EventListener/LogRevisionsListene

[2015-01-29 15:51] arlin2050 commented on #111
Yes

[2015-01-29 15:54] arlin2050 commented on #111
It works, thanks.
When will this be available on master ?

[2015-01-29 15:54] #111 closed

[2015-01-29 15:58] andrewtch commented on #111
it's already merged into master.

[2015-01-29 16:17] andrewtch commented on #108
(lucky guess) can you try:

[code]

for pg / oracle?

[2015-01-29 17:09] dbykadorov commented on #108
Looks like this works for postgres!

[code]

Can you apply it to master and at least 0.7?

[2015-01-29 17:15] andrewtch commented on #108
let's wait for @amitblues123 to confirm.

[2015-01-29 19:45] franek commented on #15
I can't confirm this anymore. Sorry.

[2015-01-29 20:36] andrewtch commented on #15
Clothing then, reopen if you can repeat the issue. Thanks.

[2015-01-29 20:36] #15 closed

[2015-01-30 13:21] andrewtch commented on #31
I'm closing this as #117 actually works with no exception. Please comment if you find a way on how to repeat the behavior above.

[2015-01-30 13:21] #31 closed

[2015-02-02 13:03] andrewtch commented on #108
@amitblues123 , @dbykadorov , please check #119 by altering your composer.json as below:

[code]

[2015-02-03 14:41] dbykadorov commented on #108
I migrated down from my workaround solution, changed my composer.json as you mentioned, and then I run composer update:

[code]
Then I update my schema with default settings (with _entity_audit_revision_id_seq)
[code]

... and looks like it works fine now: http://joxi.ru/BA04O15SV8jyAy

New revision and updated record has been created successfully.

[2015-02-03 14:49] andrewtch commented on #108
So, we can merge / close?

[2015-02-03 15:24] dbykadorov commented on #108
I see no errors with sequence now (postgresql). I think you can merge it now, but oracle issue still not confirmed.

[2015-02-03 15:26] andrewtch commented on #108
Well, they are basically the same. Closed by #119

[2015-02-03 15:26] #108 closed

[2015-02-03 16:50] aivus opened #121 "Foreign primary key support"
When I use [foreign primary key](http://doctrine-orm.readthedocs.org/en/latest/tutorials/composite-primary-keys.html) I get

[code]

[2015-02-03 17:39] dbykadorov commented on #108
@andrewtch does this fix only available in master? I can't use master because my composer.json have this option: "prefer-stable": true

[2015-02-03 17:52] andrewtch commented on #108
Quite probably we'll tag a release a bit later. Maybe you should use
particular hash or @dev?
On Feb 3, 2015 7:39 PM, "Dmitry" <notifications@github.com> wrote:

[2015-02-03 20:48] DavidBadura commented on #108
you can use it with following configuration:

[code]

[2015-02-04 05:59] dbykadorov commented on #108
Okay! Thanks for your work on the bunlde!

[2015-02-05 19:42] aivus commented on #121
Here is:
* https://raw.githubusercontent.com/aivus/symfony2-foreign-bug/master/src/App/AppBundle/Resources/config/doctrine/CouponToOrder.orm.yml
* https://github.com/aivus/symfony2-foreign-bug/blob/master/src/App/AppBundle/Resources/config/doctrine/RealOrder.orm.yml
* https://github.com/aivus/symfony2-foreign-bug/blob/master/src/App/AppBundle/Resources/config/doctrine/Order.orm.yml

[2015-02-15 14:44] Tomsgu opened #122 "Add a field to the revisions table"
Hi,

After a long time I found your very good bundle. I did a history audit by myself, but it's not as flexible as I want, that's why I started to look for another solution.

I need to store one more field in a revision table ("is_valid" field - user can change an entity, but it has to be validated by admin). Is there some way how to add it to the revision table?

[2015-02-15 22:30] aivus commented on #122
See #93

[2015-02-16 11:35] Tomsgu commented on #122
Thank you Aivus!

[2015-02-17 12:25] #122 closed

[2015-02-17 12:29] Tomsgu opened #123 "Foreign key diff"
Hi everyone,

Is there any change to see also foreign key changes?

Thank you in advance!

[2015-02-18 08:32] andrewtch commented on #123
Hi, what do you mean by "foreign key changes"?

[2015-02-18 11:48] Tomsgu commented on #123
Hi thank you for reply, I am sorry for not specifying well.

I need to see changes between e.g. customField - person (oneToMany). When I delete connection between these two entities. The bundle realize it and creates customField entityRevision. When I compare customField rev.1 and rev.2 nothing was changed.

Field | Deleted | Same | Updated
-------|------------|----------|------------
id     | - |

[2015-02-18 12:06] andrewtch commented on #123
Ok, I thing I got you ) I'll finish some other PR's and take a look on this part of code soon.

[2015-03-20 07:56] OskarStark opened #125 "Does the bundle works with propel?"
Thank you!

Oskar

[2015-03-20 08:50] andrewtch commented on #125
Nope, it's a doctrine - only bundle.

[2015-03-20 08:51] OskarStark commented on #125
thx!

[2015-03-20 08:51] #125 closed

[2015-04-21 13:47] amitblues123 opened #128 "Getting error when we drop schema"
When we are using dev-master then we are getting below error while we drop the schema.
Please can you help us on this.
I have raised the error  "sequence not found" and in the dev-master issues is fixed but now we are getting this error.
Note : we are using Oracle database.

[Doctrine\ORM\Tools\ToolsException]     :      Schema-Tool failed with Error 'An exception occurred while executing 'CREATE

[2015-04-21 13:50] andrewtch commented on #128
Around a month or so the sequency behavior was changed, most probably you'll have to drop it yourself.

[2015-04-21 13:53] amitblues123 commented on #128
Yes, now we are dropping the sequence manually. But this issue will be fixed in later version?
Because when we move to live environment dropping the sequence will not good idea or suggest us the another solution.

[2015-04-24 00:47] mpclarkson commented on #87
Hi there.. back again.

I'm getting the same error for a one-to-many self-referencing association that is mapped on an abstract class using table inheritance.

[code]

Abstract class
[code]

The sub class the error occurs on

[code]

[2015-04-24 07:00] andrewtch commented on #87
Ok, I'll review it soon

[2015-04-28 16:37] monsefoster opened #131 "Template customization"
Is it possible?

[2015-04-28 17:03] DavidBadura commented on #131
Yes ;) http://symfony.com/doc/current/book/templating.html#overriding-bundle-templates

[2015-05-19 09:33] targodan opened #132 "revtype in revisions-table instead of in the audit-table?"
Just an Idea...
Wouldn't it be better to store the revtype (UPD/INS/DEL) in the revisions table instead of the audit table?

Since revid -> revtype it would make more sence looking at it in a relational way (normalization?).

In my latest project I would like to provide a table of all revisions including the revtype but ideally without retrieving the whole revision. Saving the revtype in the revis

[2015-06-01 14:01] acogent opened #133 "getInsertRevisionSQL with schema"
Hello,

Sorry for my english !

I use schema in my database.
With doctrine 2.4, it was ok.
But now, when i want to update something, i have an error.

I modify getInsertRevisionSQL like this :
[code]
My composer.json
[code]

[2015-06-01 14:04] andrewtch commented on #133
Can you copy-paste the error please?

[2015-06-01 14:30] acogent commented on #133
The error :

An exception occurred while executing 'INSERT INTO nivf_rn_trg_audit (rev, revtype, rn_cid, rig_alti_cid, trg_date, hauteur_ellips, hauteur_ellips_precision, src_cod_lph, rem_portage, id, trg_cid, altitude, altitude_validite, maj_date) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)' with params ["16", "UPD", 526675, 2, "1978", null, null, null, "- eeezz", 1, "1000011978100101", "21

[2015-06-17 15:46] florinutz opened #135 "global_ignore_columns config not working"
I would like to use this config

[code]

(would have been nice to be able to customise ignored columns per entity btw)

But global_ignore_columns doesn't work, all the columns are duplicated.

Is there any way around this?

[2015-06-23 08:12] PriaBrock opened #136 "Get list of entities, that are currently set for revisions"
Hi,

I would like to have possibility to check which entities are set for revisioning. Right now I can set them in the "simplethings_entityaudit.config" service, but I cannot get them. Is it possible somehow?

Thanks for any advice

[2015-06-25 18:59] OskarStark opened #137 "is there a way to save the info, that i'm impersonating a user"
so for example:

"foo.bar (impersonated by: admin)" changed a row

thank you

[2015-06-25 19:00] OskarStark commented on #131
ticket should be closed

[2015-06-25 19:01] OskarStark commented on #83
great idea!

[2015-06-25 19:02] OskarStark commented on #64
useful feature :+1:

[2015-06-25 19:06] OskarStark commented on #37
great idea!

[2015-06-26 05:22] #131 closed

[2015-07-01 13:54] UFTimmy commented on #133
I am having the same issue, so hopefully I can try to explain it better. Basically, this bundle doesn't handle Entities which are configured with a schema, at least in newer versions of Doctrine.

I use MSSQL, so each table is in a schema. dbo is the default schema, but all of our tables are in actual schemas. Doctrine handles this, it allows you to name tables with two parts (schemaName.tableName

[2015-07-01 14:06] UFTimmy commented on #133
If this is helpful, this is the Doctrine ORM commit that made the change: https://github.com/doctrine/doctrine2/commit/51bf82b7e75e677916faf08fa1afa19590e35f93

Prior to that, entities with a schema kept the schema in the name key. After that, it was split up and you have to request the schema separately. I believe this was tagged in doctrine ORM 2.5

[2015-07-08 13:02] malotor opened #140 "dbal connection hardcoded to default"
I have a problem with database conections. I have a sqlite database for development and a sqlserver database for other enviroments.

I have this config file

config.yml

[code]

parameters.yml.dev

[code]

parameters.yml.prod

[code]

In production enviroment the audit bundle does`t work. I think this is due to de bundle always use de hardcode "default" connection.

In fact, if i rename the "defau

[2015-07-15 10:07] benoliver999 opened #142 "Audit log not updated for certain actions"
I have an action that calls upon an Entity's repository, which has a function running a DQL query.

It does a simple -1 on a record in the DB. This is the controller:

    public function checkoutAction($id)
        {
    $em = $this->getDoctrine()->getManager();
    $article20000stock = $em->getRepository('RegenerysQMSBundle:Article20000Stock')
         ->findAndCheckOut($id);
    return $this->r

[2015-07-15 13:46] DavidBadura commented on #142
Hi

this isn't an entity audit issue but a doctrine orm limitation. see http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/dql-doctrine-query-language.html#update-queries

if you use DQL to update your entities, doctrine don't fire any events, so entity audit can't notice this.

in short: it isn't supported, sorry :-) you should update your entity objects and avoid DQL for

[2015-07-15 13:46] #142 closed

[2015-07-15 14:36] benoliver999 commented on #142
But my beloved queries! Oh well, not the end of the world, and easy enough
to adapt. Thanks for the heads up on this, I had a hunch this might have
been the issue but would not have found the explanation.

On 15 July 2015 at 14:46, David Badura <notifications@github.com> wrote:

--
benoliver999.com

[2015-08-13 10:10] maxpowel opened #143 "Warning: array_flip(): Can only flip STRING and INTEGER values!"
Hello!

I just installed and configured the bundle but when clearing cache I got this warning:

Warning: array_flip(): Can only flip STRING and INTEGER values! in /Users/maxpowel/erp/vendor/simplethings/entity-audit-bundle/src/SimpleThings/EntityAudit/Metadata/MetadataFactory.php line 32

My symfony version is:
Symfony version 2.5.12 - app/dev/debug

[2015-08-13 12:36] tolry commented on #143
ping @DavidBadura @andrewtch

[2015-08-20 10:06] krossroad commented on #135
Having same problem. 'global_ignore_columns' are not working.

[2015-08-20 11:14] OskarStark commented on #135
fieldnames are correct

created_at != createdAt

[2015-08-20 20:27] StrikeForceZero commented on #135
I was confused by this as well until I logged the value of [$changeset](https://github.com/simplethings/EntityAudit/blob/v0.7/src/SimpleThings/EntityAudit/EventListener/LogRevisionsListener.php#L111) and saw that my properties were in camelCase but snake_case in the table. Maybe adding a check against a snake_case converted property would be a good idea?

[2015-08-21 15:20] StrikeForceZero commented on #132
I too would like this. The revision object should have this has a property not the audited entity

[2015-08-21 18:14] StrikeForceZero commented on #132
I've implemented this in a [fork of the project](https://github.com/StrikeForceZero/EntityAudit/commit/5171463a38e8d75824e56e4cb1fd28587eb7ddd3).

(fair warning that the other previous [commit](https://github.com/StrikeForceZero/EntityAudit/commit/fc1b9fda7bc729c9cd4f03370e2232972aa2d86b) in my fork: ArrayDiff has a different signature and could be a breaking api change)

[2015-09-02 20:58] guidolodetti opened #144 "Audit viewer not showing BOOLEAN changes"
In the /audit viewer, the table of changes isn't showing the differences in boolean values (they are blank!).
In the audit database all the values are stored correctly.

[2015-09-05 08:50] tolry commented on #144
@guidolodetti are you talking about the frontend (twig templates) or the AuditReader?

[2015-09-05 08:51] guidolodetti commented on #144
Hello @tolry, I'm talking about the twig templates!

[2015-09-05 16:16] guidolodetti commented on #144
Hello @tolry! Seems like the bug was much bigger: in v0.7, all fields like "customName" or "lowerToUpper" where converted to lower case ("customname", "lowertoupper"), and so where unreachable. I have made a pull request to fix this bug in v0.7.

Thanks

[2015-09-21 18:07] phackwer opened #147 "Error when using PostgreSQL"
I have always used the EntityAuditBundle on MySQL, MSSQL and Oracle databases and never had any problem. But currently I'm using PostgreSQL with a client and I found a small bug due to a problem that occurs with PDO-PgSQL and the lastInsertId implementation.

The bug always return this error:

[2015-09-21 10:47:43] doctrine.DEBUG: "START TRANSACTION" [] []
[2015-09-21 10:47:43] doctrine.DEBUG: UPD

[2015-09-21 18:56] phackwer commented on #147
New observation:

For this to work, you need to allow OIDs to be created.

This means your SQL for the revisions table should be as follows:

CREATE TABLE revisions (id SERIAL NOT NULL UNIQUE, timestamp TIMESTAMP  NOT NULL, username VARCHAR(255) NOT NULL, PRIMARY KEY (id) );

[2015-09-21 19:07] phackwer commented on #147
Here's final and tested code (earlier code sent worked... only for the first audit!).

    private function getRevisionId()
    {
        if ($this->revisionId === null) {
            $this->conn->insert($this->config->getRevisionTableName(), array(
                'timestamp' => date_create('now'),
                'username' => $this->config->getCurrentUsername(),
            ), array(

[2015-09-22 09:38] Rvanlaak opened #148 "Release new tag"
We keep on getting deprecation notices because https://github.com/simplethings/EntityAudit/commit/e8696b4bf8937c2b6dd2a07914cd5b244707ab75 was not in a stable release yet. Can you release a new tag?

[2015-10-01 07:30] v-bartusevicius commented on #140
Same problem here.
I think best solution would be to remove `connection="default"` as this way doctrine will use the default connection from config automatically.

[2015-10-01 08:14] v-bartusevicius commented on #140
As working workaround I could suggest to create a compiler pass like this:
[code]

Be sure to move `DoctrineBundle` AFTER the bunde this compiler pass exists in Your `AppKernel`.

[2015-10-08 10:49] igst opened #149 "Wrong Type Hint for EntityManager"
Hi!

If a custom EntityManager Decorator is used, AuditManager->createAuditReader() and AuditReader::__construct() throwing exceptions because of 'EntityManager' Type Hint:

*Catchable Fatal Error: Argument 1 passed to SimpleThings\EntityAudit\AuditReader::__construct() must be an instance of Doctrine\ORM\EntityManager, instance of ACME\Bundle\SomeBundle\Doctrine\EntityManagerDecorator given*

and

[2015-10-09 06:01] tolry commented on #149
Sounds about right - would you mind creating a PR?

[2015-10-09 13:07] TomasVotruba commented on #149
This can be closed now

[2015-10-09 13:07] TomasVotruba commented on #148
That would be a great idea! Last tag was about a year ago.

[2015-10-09 13:10] DavidBadura commented on #149
thank you :)

[2015-10-09 13:10] #149 closed

[2015-10-09 13:35] DavidBadura commented on #148
I have to look why the build fails before I can do it. :-/

[2015-10-09 13:35] Rvanlaak commented on #148
See you're working on it, so :+1:

[2015-10-09 15:12] OskarStark commented on #149
:+1:

[2015-10-19 11:25] davidomelettes opened #156 "AuditedCollections of inherited associations on Single Table Inheritance entities do not load"
Consider the following entities:

[code]

When an AuditedCollection instance is constructed, the `class` property is set to the association's target class name, and it is this class which is used for resolving discriminator values during AuditReader::find() when the collection is loaded. Which means, it will fail to find the Client when it attempts to populate the address's `contact` property:

[c

[2015-10-19 13:30] smoench commented on #148
a new tag has been [released](https://github.com/simplethings/EntityAudit/releases)

[2015-10-19 13:30] #148 closed

[2015-10-19 13:30] Rvanlaak commented on #148
:+1:  https://github.com/simplethings/EntityAudit/pull/155#issuecomment-149210849

[2015-10-19 13:36] TomasVotruba commented on #148
Great job! Thanks!

[2015-10-20 12:54] davidomelettes commented on #156
Actually, this is indicative of a wider problem with the handling of discriminator values, and how sub-classes are generally not supported when loading associations. The following amendment is an improvement to my workaround above, and handles discriminator values the same way as Doctrine entity repositories:

[code]

[2015-10-20 13:01] davidomelettes opened #157 "OneToOne associations not supported when owning side does not exist"
Consider the following entities:

[code]

If you persist a Human without a Robot, attempting to load an instance of that Human from AuditReader::find() will fail, as it attempts to find a Robot with the corresponding `human_id`. It currently seems to assume that both sides of a OneToOne association must exist. This is the workaround I am using:

[code]

[2015-10-21 09:17] Th3Mouk opened #158 "Clean history"
Probably a must have, actually some of my databases get more than 20000 revisions.

Add a command, to remove major (outdated) of them, by selecting the number to keep or the date of expiration, and tables concerned, must be interesting.

[2015-10-21 10:25] OskarStark commented on #158
:+1:

[2015-10-23 07:01] OskarStark opened #160 "how to set a username when loading fixtures?"
Hi

i would like to set Username "System" or "Importer Foo" on the CLI, when creating entities via a Command or anything else.

Is this possible?

Best,
Oskar

[2015-10-23 16:06] smoench commented on #160
You can set the current username on the `AuditConfiguration`:
[code]

https://github.com/simplethings/EntityAudit#setting-the-current-username

[2015-11-09 11:23] OskarStark commented on #160
Thank you @smoench

[2015-11-09 11:30] #160 closed

[2015-11-16 08:27] 0x68 opened #161 "Many-To-Many associations are NOT versioned"
Hi everybody,

i'm wondering why this TODO is left, i'm currently diving deeper in to Doctrine and Symfony2 and have currently the problem to solve the audit of all my entities which includes also the n to m relations.

Could anybody give me an advise how to solve this within this Bunde  ?

Thx in Advance

[2015-12-18 07:30] whyte624 opened #165 "Fix deprecation for security.context"
Could you, please, fix this error:

which is in
simplethings/entity-audit-bundle/src/SimpleThings/EntityAudit/Resources/config/current_username.xml:15

[2016-01-06 11:38] smoench opened #166 "TablePrefix breaks TableName with 'schema'"
https://github.com/simplethings/EntityAudit/pull/155#discussion_r48649991
tolry on 31 Dec 2015:

https://github.com/simplethings/EntityAudit/blob/master/src/SimpleThings/EntityAudit/AuditConfiguration.php#L58 has to be fixed

[2016-01-13 20:57] #88 closed

[2016-01-26 09:46] DavidBadura commented on #85
done with #99

[2016-01-26 09:46] #85 closed

[2016-01-26 09:48] DavidBadura commented on #133
this should be solved with #155

[2016-01-26 09:48] #133 closed

[2016-02-01 18:46] ju1ius commented on #140
Hi,
building on @vbartusevicius suggestion, this is what I had to do to make it work:

[code]

And then in app/AppKernel.php
[code]

[2016-02-01 19:20] #165 closed

[2016-02-11 20:31] INHack20 opened #172 "Revert to revision 'x'"
Hello, currently use this library is very good, congratulations.
It might include the option to revert the changes from one entity to a specific version?

SimpleThings\EntityAudit\AuditReader
public function revert($object, $revision);

Thanks

[2016-02-17 15:16] hamzius3 opened #174 "Fetch after executeQuery in AuditReader"
Hello findEntitiesChangedAtRevision() function is not working for me!

you need to fetch after calling executeQuery in line 596

Thanks.

[2016-02-17 15:58] #174 closed

[2016-02-18 06:45] tolry commented on #172
Hi @INHack20,

thanks for the praise and your suggestion. We have to be careful to not reimplement something like git at this point. Meaning "reverting" should probably do one of the following things

* load the given revision, persist the object and discard all "future" revisions (not my favorite)
* load the given revision, persist the object, resulting in a new revision that holds the same data

[2016-02-18 07:58] tolry commented on #172
btw: you are of course welcome to create a PR for this, if you like

[2016-02-18 12:58] INHack20 commented on #172
Hi, thanks for your comments.

I personally like the option:

"load the given revision, persist the object, resulting in a new revision that holds the same data as the old revision (this can be easily done right now already)"

Where you recommend placing the method to revert changes?

[2016-02-19 17:38] thomasbeaujean opened #175 "SF2.7: Undefined property: appDevDebugProjectContainer::$config"
In SF 2.7.9, I updated the bundle and get the error:

Notice: Undefined property: appDevDebugProjectContainer::$config
vendor/simplethings/entity-audit-bundle/src/SimpleThings/EntityAudit/AuditManager.php at line 44

This come from the factory syntax intruced by the commit 612416e0741225354e3b6ddb9f74dcb3c0ecdabb

The service should be used instead of the class

[2016-02-24 11:48] #156 closed

[2016-03-03 07:10] tolry commented on #175
fixed in #176 - I will close this, as soon as I've tagged a new release

[2016-03-03 07:14] tolry commented on #175
I just released 0.9.1 - give it a try
https://github.com/simplethings/EntityAudit/releases/tag/0.9.1

[2016-03-03 07:14] #175 closed

[2016-03-09 07:35] soerenbernstein commented on #132
This will not do because a revision can include multiple entities which could have different revtypes. As for example you have a group of people and add a new  - as in not already in your db - person, the person entity would have a revtype 'INS' where as the group entity will have a revtype of 'UPD'.

[2016-03-09 07:37] soerenbernstein commented on #161
I would like to see this feature too.

[2016-04-12 11:35] soerenbernstein commented on #158
I have written a cleanup script for a project as symfony console command. If anyone is interested, I could provide it.

[2016-04-12 12:12] OskarStark commented on #158
please @soerenbernstein

[2016-04-12 15:47] zhukovra commented on #158
@soerenbernstein can you gist it?

[2016-04-13 18:05] jtreminio opened #182 "Any reason for private vs protected properties?"
Setting everything to private makes it extremely difficult to extend.

Your thoughts on a PR to convert `private` to `protected`?

[2016-04-14 07:55] tolry commented on #182
Generally speaking: that's the point :wink:

When developing a library, making something private, is the only way in php to declare those parts as "not meant to be extended". Everything that can be extended is a potential BC break for users, if the library gets refactored. You might take a look at the doctrine core library, most of the classes and properties are private there too, for the same rea

[2016-04-14 13:07] jtreminio commented on #182
I'm familiar with the train of thought of making everything private by default. However, in the better examples of this, those projects provide hooks as you mentioned. This one has neither.

Our use case can't be unique, but:

* I'm working at a healthcare company that requires strict control over private identifiable information (PII). Having `revisions.username` use the user's username (or email

[2016-04-21 06:39] soerenbernstein commented on #158
Here my cleanup script. This will remove all entity revisions which doesn't reflect any tracked changes. After that it will remove all revisions from the revision table which no longer have any changed entities.

https://gist.github.com/soerenbernstein/e0bf825ace65659da5ae8bb0dd63cfdd

[2016-05-13 06:14] mmucklo opened #184 "When using with Oracle, getting an index name is too long error"
This is the sort of error I'm getting trying to setup entity audit on an existing entity.

Any suggestions?

[code]

[2016-05-13 12:08] tolry commented on #184
@mmucklo looks like you are using Oracle as DBMS, correct? I am not sure, if there are any users out there, using EntityAudit with Oracle.

But in theory this shouldn't be a problem, I would think. At first glance, this looks like being a general doctrine problem, since I would think that the doctrine SchemaManager is responsible for creating the SQL which throws the exception.

Anyone's got an id

[2016-05-13 12:17] smoench commented on #184
it looks like #181 has introduced this failure

[2016-05-14 20:09] tolry commented on #184
@smoench thanks for digging that up - leaving the index name empty should have been sufficient there, the addIndex method does generate a unique index name automatically.

Changing this now might trigger unecessary database migrations for users upgrading - so a bit BC "breaky".

@mmucklo do you have a test installation where you can verify that changing the call in line 101 of "src/SimpleThings/En

[2016-05-14 20:33] mmucklo commented on #184
Yes.

I can try testing it and get back to you early next week.

[2016-05-17 17:47] mmucklo commented on #184
Index creation now works.

BTW the rest of the schema creation is pretty nasty - I'm not quite sure how to fit it into a migration just yet...

(slightly edited version below)
[code]

[2016-05-23 16:14] peschee commented on #161
Is this bundle alive @DavidBadura? Have there been discussions about adding this?

[2016-05-24 07:42] tolry commented on #161
@peschee we do not have any active maintainers with good knowledge of the codebase, unfortunately. This extension was created for one small project of ours which is still alive and well. But since that project is a simple use case and we haven't had use for the extension in other projects, knowledge isn't what it could be. Since the creator of the extension is no longer involved in the development

[2016-05-24 14:48] peschee commented on #161
I see, thanks for the writeup. We are currently considering using this audit bundle for a project instead of writing the audit functionality from scratch.

As of now, we don't have Many-To-Many relationships. I just wanted to know while evaluating, if that feature is available or not. The {{README}} states Many-To-Many is unsupported. However, looking at #99 it seems implemented.

Should we miss s

[2016-05-26 21:01] mmucklo commented on #184
any update on when this fix might be committed?

[2016-05-27 01:34] mmucklo commented on #184
Just an update, so rolling back to the commits before #181 seems to fix things partially (aside from the crazy SQL above).

It inserts if I do:

[code]

However it seems to want to do an ALTER TABLE there on after

[code]

If you do another:
[code]

You still get the same thing again when you run a --dump-sql:

[code]

There's another oracle bug I found, but I'll open another radar.

[2016-05-27 01:50] mmucklo opened #185 "Oracle doesn't seem to want to lowercase column names, causes error in AuditReader.php"
I've tried using the PDO::ATTR_CASE option in the dbal options section in my symfony config.yml (using the numeric 8:2) and while I can confirm that the PDO connection does indeed receive the option during connecting, it seems to be ineffective.

Update: this is because Doctrine uses oci drivers and not PDO.

The $driverOptions passed in (that's options: in symfony's config.yml) is not even used.

[2016-06-02 22:23] edwines commented on #157
Same issue

[2016-06-15 07:17] rvanlaak commented on #158
Having a cleanup command that allows to archive revisions that are more than 1yr old would be great.

We have an entity that gets saved via XHR 10 seconds after the user changes the input, so these entities have lots of revisions that are not useful. Another scenario would be to have an option to remove all revisions between an entity's first and latest revision.

[2016-06-19 18:43] Ocramius opened #187 "User identifier may change multiple times during execution - rely on a dynamic factory for it instead?"
During an app's lifecycle, many things can go wrong with auth + business logic.

 * email auto-login + action (via JWT token or similar) causes anonymous -> logged in upgrade + business interaction
 * `sudo` -alike actions cause user privilege change mid-request
 * auto-logout caused by business logic (violations, usually), lead to logged in -> anonymous downgrade

Therefore, `AuditConfiguration#s

[2016-06-20 14:36] tolry commented on #187
First things first: this module is not actively developed nor actively maintained at the moment. We have no one around with intimate knowledge of the code base. Sorry for that :-(

That being said: I very much agree, this is definitely a problem not yet adressed. Having a dynamic way to determine the current user would be much safer and might probably be fixable without any BC breaks.

@Ocramius w

[2016-06-20 21:54] Ocramius commented on #187
no big deal

Depends on whether I'll need it over the next few weeks. For now I added a big fat `@TODO this is a huge assumption, and it relies on the app staying as simple as it currently is`

[2016-06-23 11:34] ravindrakhokharia opened #188 "I want to bypass postPersist() from adding entry in the audit entities"
Hi,

I wanted to know if there is a possibility to bypass the postPersist() method for auditing any entity, for may be specific tables only ?

like - LogRevisionsListener

Any help will be appreciated.

Thanks!

[2016-06-23 19:29] tolry commented on #188
Hi @ravindrakhokharia,

could you elaborate a bit more on what you are trying to achieve? It is already possible to audit only certain tables/entity classes, see README

##### app/config/config.yml
[code]

Or do you need to exclude certain entries of one table from being audited?

[2016-06-24 07:55] ravindrakhokharia commented on #188
Hi @tolry

Sorry for the less information !

I do already have 4 entities auditing details, But i found a lots of difference in terms of performance in one of our action.
We do have two entities in which it flushes at least 600 records at a time in each of the entity, So it adds around 2400 records including Audited entities, which hits the performance issue. Below is the example in one of the env

[2016-06-24 13:16] dragonito commented on #188
Hi @ravindrakhokharia,

i try to understood your problem.

What you mean with entity saving 150 records?

1. Do you mean the db table and it your script saves 150 rows in one time
2. or do you mean the entity got 150 fields and saving one entity to db will do it very slow?

[2016-06-24 13:20] ravindrakhokharia commented on #188
Hi @dragonito

its 1st option,
Script saves 150 rows in one time, while the number of columns in the single row is around 9.
the timing given above was for only 150 rows inserted in the table at a time.

Let me know if any other details missing.

Thanks !

[2016-06-25 07:46] ravindrakhokharia commented on #188
![modelvariable](https://cloud.githubusercontent.com/assets/2654612/16355539/f339a750-3ad6-11e6-98a9-a3a5f096f911.png)

Here is the example of the simple queries taking too much time in different transactions of the audit tables.

[2016-06-27 14:40] peschee commented on #135
A more suitable name for the configuration entry would probably be `global_ignore_fields` since the changeset returned in https://github.com/simplethings/EntityAudit/blob/master/src/SimpleThings/EntityAudit/EventListener/LogRevisionsListener.php#L191contains the entity field names, not the database table column names.

[2016-06-28 07:59] RomainCXP opened #191 "Issue with composite primary key"
Hi,

I'm using your bundle with Symfony 2 and Doctrine and I have an entity with a composite primary key where one of it is another entity:

[code]

The issue here is when i try to delete 'MyClass' i get this exception :
`Warning: spl_object_hash() expects parameter 1 to be object, string given in vendor/doctrine/orm/lib/Doctrine/ORM/UnitOfWork.php at line 1540`

After investigation it seems that

[2016-07-01 07:19] ravindrakhokharia commented on #188
@dragonito Does above information makes more clear now ?

@tolry Any news yet ? do you need any information still ?

Looking forward for the help

[2016-07-04 11:45] cordoval commented on #182
@jtreminio did you have your mods somewhere? thanks in advance

[2016-07-04 11:47] cordoval commented on #182
nvm https://github.com/jtreminio/EntityAudit/commits/forked

[2016-07-04 12:57] cordoval commented on #137
related https://github.com/simplethings/EntityAudit/issues/187

[2016-07-05 13:26] dragonito commented on #188
@ravindrakhokharia Do you really want to bypass entityAudit for special tables? The result would be inconsistent data. Perhaps it is better not to use entityAudit for those tables.

[2016-07-18 16:52] #132 closed

[2016-07-19 11:22] Simperfit opened #193 "[RFC] Supports Api-Platform"
Hi,

I have been working on a project using api-platform to generate the api and we made a bridge between api-platform and this bundle.

Do you want to integrate this bridge ? It's ready to use and I could make an PR for that, this generate an api using the history of one entity

[2016-07-19 16:32] jamescdavis opened #194 "Auditing of entities identified through foreign entities does not work."
As of 2.1, Doctrine supports [identity though foreign entities](http://doctrine-orm.readthedocs.io/projects/doctrine-orm/en/latest/tutorials/composite-primary-keys.html#identity-through-foreign-entities). EntityAudit cannot currently add revisions for entities whose identifier field is another entity. Consider [this example of a simple derived entity](http://doctrine-orm.readthedocs.io/projects/do

[2016-07-20 06:54] jamescdavis opened #196 "Fields that require SQL conversion to convert to database value not converted when saving to the audit table."
When an audited entity contains a field with a custom mapping type that requires calling a SQL function to convert to a value suitable for the database column, EntityAudit is not performing the SQL conversion when saving the field value to the audit table. The original, unconverted value is stored instead.

[2016-08-01 08:32] Jerome1337 opened #199 "audited_entities configured but not used"
I'm using this bundle with the Symfony 2.8 app and Doctrine ORM 2.5
I have install, enable and configure this bundle with the entities I want to audit.

[code]

The bundle should now only audit this entities and create only 6 tables (for this 5 entities and the revisions table).

But when I use `./app/console doctrine:schema:update --force` this create `_audit` tables for every single table of my

[2016-08-08 09:36] edrush opened #200 "Configure behaviour to only create revisions?"
Hi,

I have an API through which I want to allow for adding new revisions to an entity, which can later be merged into the entity tables by an editor (person).

Right now using SimpleThingsEntityAuditBundle causes revisions to be created and the original entities to be updated at once, so the last revision of an entity hast the same data as the entity itself - right?

Can this behaviour be changed

[2016-08-10 12:57] Renrhaf commented on #136
Hello @PriaBrock,

you can get the "audited_entities" from the container parameter called : "simplethings.entityaudit.audited_entities".
[code]

[2016-08-16 13:30] bendavies opened #203 "Maintained?"
Hey,

It looks like noone really has time to maintain the bundle at the moment?
I'm going to be maintaining my own fork, since it looks that way at the moment.

Thanks

[2016-08-17 07:57] tolry commented on #203
Hi @bendavies,

yes, we currently have no one left from the original extension creators and therefore no one who knows the core of the library well. So you might say that there is no maintenance right now.

There are a few people with commit access, that merge PRs from time to time. Bbut without deep knowledge of the internals, we mostly merge "easy picks". In addition to that, ressources are slim

[2016-08-17 08:01] tolry commented on #203
I'll link a few people, that have some library knowledge to start the discussion

* @beberlei
* @DavidBadura
* @smoench
* @andrewtch
* @merk

[2016-08-17 08:04] andrewtch commented on #203
@bendavies , can you show us you current fork? Maybe being part of the core team in the repo would be much more productive than forking.

[2016-08-17 08:05] tolry commented on #203
https://github.com/Owsy/EntityAudit <--- fork

[2016-08-17 08:13] tolry commented on #203
Another thing I would like to add, that is important to us: EntityAudit is heavily inspired by Hibernate Envers, which is a battle proven auditing library. So lots of architecture decisions might not be obvious in the first place, but were normally chosen for a reason :smile:

Therefore fundamental changes to the core architecture should normally not be necessary and keeping the responsibilities o

[2016-08-17 10:39] andrewtch commented on #203
That actually sound pretty good - I've become a maintainer for the same reasons ).

@bendavies , can you point particular PRs that are stuck here?

[2016-08-17 12:51] bendavies commented on #203
@andrewtch Don't want to get into individual PR's here, but if you look at the list it's pretty clear.

also if you look at the network, people are maintaining their own forks with a single bug fix as they have probably got the same idea as me about this library not being really maintained:
https://github.com/simplethings/EntityAudit/network

@tolry thoughts?

[2016-08-17 13:06] tolry commented on #203
@bendavies what you've outlined above sounds good so far. Fixing bugs and maintaining a runnable test suite is really important in my opinion. The most important thing from our point of view, obviously, is not breaking BC or at least not breaking BC without bumping the major version of the lib (semver).

I would suggest giving you write permissions on the repo and from there on, we see how well it

[2016-08-17 13:13] bendavies commented on #203
@tolry there can be no BC breaks at this point as 1.0 has not been released.

I'm fine with write access.

[2016-08-17 13:24] tolry commented on #203
@bendavies which is a problem by itself, wasn't aware of that tbh :grin: maybe pinning the current master to 1.0 and moving from there might be a good choice

write access should be granted soon

[2016-08-17 13:30] bendavies commented on #203
@tolry thanks.

[2016-08-17 13:30] bendavies commented on #203
@tolry thanks. 1.0 sounds like a good idea once i've integrated by build improvements.

[2016-08-17 21:58] merk commented on #203
Sorry? 0.x series version numbers allow any BC breaks you want. http://semver.org/#spec-item-4

As for me, we're only using this library in a legacy context now - we moved to a well structured logging format instead since individual data change audits didnt serve our needs.

[2016-08-18 05:39] tolry commented on #203
@merk I think, that's what @bendavies meant by that: not having a 1.0, there is no BC to uphold :smile:

[2016-08-18 10:13] bendavies opened #207 "RFC: drop support for PHP < 5.6"
Hey,

It looks like this library still supports all php versions back to 5.3.
Since versions < 5.6 are end of life, i propose dropping support for them.

cc @simplethings/entityaudit

[2016-08-18 10:19] bendavies commented on #203
right!

[2016-08-18 14:48] DavidBadura commented on #207
:+1: I think this is a good idea.

[2016-08-18 15:32] tolry commented on #207
:+1: but only after tagging a version that still supports 5.3

[2016-08-18 15:33] bendavies commented on #207
sounds good. I will finish fixing the mysql/postgres bugs, and we can tag.

[2016-08-19 10:52] bendavies commented on #187
@Ocramius can you take a look at #210. Thanks

[2016-08-19 11:36] bendavies commented on #199
@Jerome1337 I can't replicate this. There is code in the schema listener to prevent against this:
https://github.com/simplethings/EntityAudit/blob/2d8de80e851cdac1071f54fd710bad4b7ae84f51/src/SimpleThings/EntityAudit/EventListener/CreateSchemaListener.php#L60-L76

Can you please reopen this if you can see what the issue is, but i'm going to close for now.

[2016-08-19 11:36] #199 closed

[2016-08-19 13:00] Ocramius commented on #187
@bendavies provided review, thanks for the PR!

[2016-08-19 15:31] bendavies commented on #147
@phackwer This looks like it might have been fixed by https://github.com/simplethings/EntityAudit/commit/912303e7e35d4b901522e2acee797ca5fbe13865

As of https://github.com/simplethings/EntityAudit/pull/209, the testsuite runs again postgres 9.1-9.4.

I'm going to close this but please reopen if you are still having problems.

[2016-08-19 15:31] #147 closed

[2016-08-22 09:00] #187 closed

[2016-08-25 14:47] bendavies opened #214 "Deletions recorded on onFlush can cause bad data revsion data"
Deletions are currently recorded during the `onFlush` event.
https://github.com/simplethings/EntityAudit/blob/master/src/SimpleThings/EntityAudit/EventListener/LogRevisionsListener.php#L247

This can cause a `DEL` revision to be incorrectly recorded if the deletion of the real entity fails, which can happen due to a foreign key constraint. (`onFlush` is dispatched outside of the main unit of work

[2016-08-26 08:43] #196 closed

[2016-08-29 10:56] ravindrakhokharia commented on #188
@dragonito But any reason it is taking this much time to run those update queries ?
Will it be because of the size of the table ?

[2016-08-29 12:20] DavidBadura commented on #188
@ravindrakhokharia Would this fix your problem? https://github.com/simplethings/EntityAudit/pull/180

[2016-08-31 13:51] atufkas commented on #207
Hello Dev-Team,

first of all: Thank you for maintaining a project of great quality and benefit!

I have mixed emotions on this issue. I guess there are zillions of discussions pro and contra supporting end-of-life or unsupported versions of PHP. And, if just speaking for myself and integrations I maintain on my own in my own little infrastructure space, I'd definitely be with you and say: Go for

[2016-08-31 15:52] mattrq opened #215 "Support for doctrine migrations"

[2016-08-31 22:06] bendavies commented on #137
fixed by https://github.com/simplethings/EntityAudit/pull/210

[2016-08-31 22:06] #137 closed

[2016-09-01 02:37] Petah opened #216 "[Question] Is there a way to persist an entity without saving a audit?"

[2016-09-01 14:44] ravindrakhokharia commented on #188
@DavidBadura It looks like a relevant solution, i will test the commit on my system, and try to check the performance ! Thanks !

[2016-09-02 12:37] ravindrakhokharia commented on #188
@DavidBadura I found some errors while saving data, but I can say it has huge success in terms of performance,
Some errors like below
An exception occurred while executing 'UPDATE model_audit SET `description` = ? , `is_global` = ? , `is_active` = ? , `created_at` = ? , `updated_at` = ? , `profiler_settings_updated_by_user` = ? , `version_no` = ? , `is_updating_version` = ? , `need_dynamic_weight`

[2016-09-05 16:19] peschee opened #217 "Wrong relations returned for bidirectional audited relationships (OneToOne)"
We've just discovered a problem in an application we're building with this bundle. For bidirectional OneToOne relationships, where both sides of the relation are audited, the `AuditReader` returns wrong data.

Let's say you have relationships set up as follows:
- DataContainer (owning side) → Data
- Data → DataContainer

Querying for an entity version of either `DataContainer` or `Data` will retur

[2016-09-08 12:24] peschee commented on #217
We've added a fix for this in a separate branch

https://github.com/peschee/EntityAudit/tree/failing_one_to_one_bidirectional_fix

in this commit

53f76f4c914cda2467844e7b17b0ca2b446951b2

All tests including our test that failed before work now. However, this touches the `find` method so we're not quite sure if this is the right way. Maybe @bendavies or @andrewtch can have a look? /cc @jfierz

[2016-09-08 13:21] bendavies commented on #217
Can you submit a PR with test and fix, and i'll take a look

[2016-09-08 13:23] peschee commented on #217
Done

[2016-09-09 15:17] turkelt0n opened #219 "New Revision is triggered when using Symfony Money-Fieldtype"
I did experience some weird behaviour, while using the Symfony MoneyType-Field.
After i saved a Form containing only the following Type

[code]

it triggered a new revision in the corresponding Audit-table - without changing the existing value. Help would be appreciated.

[2016-09-09 19:45] pedropapa opened #220 "Unable to parse auditable.xml after b5be02a"
After updating EntityAudit to the latest dev-master version, I receive this error after running app/console cache:clear command:

[code]

I think it's a bug from EntityAudit, can you please fix it?

[2016-09-10 11:09] DavidBadura commented on #220
Can you try to remove your cache folder manually? Can you tell me afterwards whether that solved your problem?

[2016-09-12 21:15] pedropapa commented on #220
Still having the same issue after removing caches manually. I can confirm that downgrading the bundle to commit 86c5d0cf6db31ba4277e6c5256696204c9346bcb the application works fine.

More info:
PHP version: 5.3
Symfony version: 2.5.12

[2016-09-13 09:48] tseho commented on #203
Hey guys, any news on the new maintainers ?

[2016-09-13 10:34] smoench commented on #220
@pedropapa `dev-master` is not compatible with symfony `<2.7`, please use version `~0.9`. By the way https://getcomposer.org/doc/faqs/why-are-unbound-version-constraints-a-bad-idea.md

[2016-09-13 10:34] #220 closed

[2016-09-14 12:33] tolry commented on #220
@smoench shouldn't have composer caught that and refuse to install this version with symfony < 2.7?

[2016-09-14 14:00] tseho commented on #215
What do you mean by "support for doctrine migrations" ?

The current version already works with doctrine migrations.

[2016-09-14 14:05] tseho commented on #216
Can you provide an example on why you need this ?

If you need a one time hack, you can also overwrite the service `simplethings_entityaudit.log_revisions_listener` which is using the class `SimpleThings\EntityAudit\EventListener\LogRevisionsListener`.

[2016-09-16 09:39] tseho commented on #203
@tolry I did two PR during the week so I have spent some time in the code of this bundle, I know there is room for improvement if we are targeting a 1.0 release.

I just wanted to know if the people maintaining the project would be interested in working on a roadmap ? It would be stupid to work on big pull requests without discussing it beforehand.

[2016-09-16 11:08] Soullivaneuh opened #223 "Ignore fields by entity"
Currently, we can setup global ignored columns.

It would be great to be able to specify ignored columns by entity.

Or/And maybe the reverse: Specify which fields we want to track.

[2016-09-16 11:31] tolry commented on #203
@tseho sounds like a good idea to me, having some kind of rough plan, what is needed to call it 1.0

Easiest way to discuss this in the open would probably be a new github issue? Alternative ideas anyone?

[2016-09-16 12:21] tseho commented on #203
@tolry +1 for a new issue where we can discuss about it and make proposals.

[2016-09-16 12:52] tseho commented on #223
I have been looking into it and it's something I want to include with the next milestone (1.0 ?) cc @tolry

I had in mind to use the same approach as the jms serializer: [exclusion strategies](http://jmsyst.com/libs/serializer/master/cookbook/exclusion_strategies#general-exclusion-strategies)

[2016-09-16 13:15] Soullivaneuh commented on #223
Looks like a good idea. :+1:

[2016-09-16 13:26] soullivaneuh opened #224 "Manage user id with foreign key and object instance"
Saving username is great because it works with all Symfony security implementation.

But be based on username can be a problem. On some application, username can be changed.

I think we should consider an optional way to manage user id linked to user instance, like for FOSUser generated ones.

[2016-09-16 13:34] Soullivaneuh commented on #223
@tseho Waiting that, it would be quite hard to override the listener:

[code]

In this case, I just want to manage the changeset, but I have to override and copy/paste the whole method.

Maybe should we provide a `getChangeSet` method for now?

[2016-09-16 15:30] Soullivaneuh commented on #223
BTW, we can't override, needed properties are privates...

[2016-09-16 15:40] Soullivaneuh commented on #223
I had to copy the private properties for now. Here is a draft of what I'm doing:

[code]

This is quite ugly, but it's working. If you have a better solution, don't hesitate! :wink:

[2016-09-19 06:54] tolry opened #225 "1.0 - todos"
as suggested in #203

Version 1.0
- what's missing?
- what needs to be fixed?
- which deps should we choose?
- which open PRs need to be merged?
- ...?

[2016-09-19 06:55] tolry commented on #203
@tseho see #225

[2016-09-19 08:19] tseho opened #226 "is EntityAudit a bundle or a library ?"
Globally, there is something we need to clarify, is EntityAudit a bundle or a library we can use as a standalone ?

for example, the class `AuditConfiguration` contains the method

[code]

But this class is also configured as a service `simplethings_entityaudit.configsimplethings_entityaudit.config`

I don't think the static creation is a good practice (please correct me if I'm wrong), it's only u

[2016-09-19 08:20] tseho commented on #225
I suggest you keep a list of open issues/PRs we are targeting for the v1.0 as a task list in your message, so we can know which ones are done and which ones needs to be done.

We can then discuss in separate issues different ideas/suggestions and you can decide if they are included in the roadmap list.

I started with #226

[2016-09-19 08:24] tseho commented on #223
I'm glad it's working for you, I will ask this feature to be added in the roadmap :)

[2016-09-21 22:49] pedropapa commented on #220
0.8 version of EntityAudit seems to be the most recent version that does have compatibility with Symfony 2.5.12, I just installed it and everything is working fine for now.

[2016-09-22 12:33] Soullivaneuh commented on #224
It's a start but you will just have an integer inside the `username` column.

You won't get the doctrine relations benefit with this.

[2016-10-11 00:50] dlegatt opened #230 "SQL Server and sequence name"
I have to use SQL Server for my database and am running into an error.  In LogRegisionsListener::getRevisionId(), there is a check to see if the platform supports sequences, which the SqlServer2012 platform does, but then it calls getIdentitySequenceName, which the SqlServerPlatform does not implement, so an exception is thrown.

[2016-10-11 06:47] tolry commented on #226
@tseho currently EntityAudit is both, which has historic reasons: back then people didn't separate libs from the bundle. I would very much prefer for this to be split up, but this would require quite a bit of work, which e.g. I do not have the time nor knowledge of the inner workings of EntityAudit.

So: splitting in lib + bundle is probably good idea, but I do not see it in the near future. Maybe

[2016-11-03 09:21] ZFNerd commented on #140
@ju1ius did this solution also work for multiple connections?

[2016-11-08 13:58] rvanlaak commented on #207
I think the minimum PHP versions of all dependencies should also be taken into account. In other words, if `doctrine/dbal` is bumped, then that PHP version also should be taken into account.

Just some info; right now the Doctrine PHP version used actually also is `>=5.3.2`, see https://packagist.org/packages/doctrine/orm#v2.4.8 and https://packagist.org/packages/doctrine/dbal#v2.5.5

`doctrine/or

[2016-11-10 15:27] theantichris opened #235 "Change comment field not present."
After installing the bundle and updated my schema there change comment field in the revision table is not present, the other fields are.

[2016-11-23 10:16] DavidBadura commented on #225
I would now simply release the 1.0.0 version and work on the next version with bc breaks. We need to move forward ;-)

[2016-12-01 16:16] DavidBadura opened #236 "Fix postgres builds"
postgres builds are hang out and I don't know why :-/

[2016-12-01 16:23] #217 closed

[2016-12-05 10:01] soerenbernstein opened #237 "Regression: Loading revision data fails on entities with empty on-to-one associations"
Updating from 0.7 to 0.9.2 I have trouble getting my revisions. After some testing I figured out this was introduced in 0.8.

I my case I have a Customer entity which has a bidirectional association with my User entity called user with Customer being the owning side. It also has an additional unidirectional associations with User called registeringUser. Not all of my Users do have an associated Cu

[2016-12-05 10:15] DavidBadura commented on #237
Hey, thank you for reporting! Can you check if the error exists in master too? I think we have fixed it with https://github.com/simplethings/EntityAudit/pull/218

[2016-12-05 10:27] soerenbernstein commented on #237
Tried that, but sorry no luck.

[2016-12-05 10:38] DavidBadura commented on #237
Do you know which commit introduced the error?

[2016-12-05 10:48] soerenbernstein commented on #237
No, sorry. But it worked in 0.7 and is broken in 0.8.

[2016-12-06 07:50] starmate commented on #105
Hi,

I am facing the same issue. I actually can't see the history on admin page (empty), but the audited translation table contains data.

ps: only translation data was updated in this case and there is nothing changed on main entity (no revision created).

Have you found a solution to the issue?

Thanks in advance,

Jon

[2016-12-15 15:30] muspelheim opened #238 "Start using EntityAudit with existed DB"
Hello, can you please provide any way to indexing existing DB? I don't have initial revisions for my object, and my Audit don't work, please help me.

[2016-12-15 20:29] peschee commented on #237
Would probably be easy to find out with a `git bisect` and a working / failing test, given we know it is between 0.7 and 0.8.

[2017-01-04 08:56] Soullivaneuh commented on #158
Also interested. Another id would be to be able to clean revision related to a specific field of an entity.

Would be useful for a field we forgot to ignore for example.

[2017-01-04 09:03] Soullivaneuh commented on #158
@soerenbernstein Can you please explain why you create a new table and remove the old one on `cleanupEntityRevisions` instead of simply removing not needed rows?

[2017-01-04 13:36] Soullivaneuh commented on #207
@atufkas You said it: "legacy environments".

In this case, they indeed have to use a legacy version of this package. This is why I also agree with @tolry comment.

But this make no sense to continue application development and want to use new feature of dependencies without resolving the PHP version issue first.

Concerning doctrine, I heard that the legacy PHP version dropping will be faster tha

[2017-01-04 13:42] Soullivaneuh commented on #226
@tolry Splitting library and bundle is not *necessarily* a good idea. It's depends of the size of the symfony integrations IMHO.

Example with my lib: https://github.com/Soullivaneuh/IsoCodesValidator

This is a library for symfony validator component (no bundle).

But it also provides a bridge part for Silex and Symfony integration: https://github.com/Soullivaneuh/IsoCodesValidator/tree/3.x/src/B

[2017-01-04 13:50] rvanlaak commented on #207
Okay, 👌 for `5.6` after tagging latest stable for `5.3`.

[2017-01-04 13:54] Soullivaneuh commented on #224
@tseho Good catch but it would be better to have this configurable. :wink:

[2017-01-04 18:11] atufkas commented on #207
@Soullivaneuh Okay okay okay... go for tagging a latest stable supporting 5.3. 👍

[2017-01-05 22:49] DavidBadura commented on #236
It seems to work again

[2017-01-05 22:49] #236 closed

[2017-01-05 23:07] DavidBadura commented on #225
just released v1.0.0 https://github.com/simplethings/EntityAudit/releases/tag/v1.0.0

[2017-01-05 23:07] #225 closed

[2017-01-05 23:54] #207 closed

[2017-01-06 00:38] DavidBadura commented on #226
I think we should split this package. We have not just the integration to the framework, but also controllers and templates. In addition some features are developed with focus on symfony and not on the library (see #233).

But how can we do this? My idea is:

* rename this repository in EntityAuditBundle (github provide redirects)
* change the repository url on packages.org
* clone this project in

[2017-01-06 01:22] DavidBadura commented on #230
I think it is an issue in doctrine dbal. Or can you tell us how to solve it?

[2017-01-06 08:15] rvanlaak commented on #207
Whoop @DanielBadura I see you tagged `v1.0.0` yesterday, just before mergin #239

Will that also mean that the next version also will be tagged `v2.0.0`? https://github.com/composer/composer/issues/4090#issuecomment-107392631

Had a discussion about this lately, some think that bumping PHP up could also just be a minor release as it does not really break anythink.

[2017-01-06 08:51] Soullivaneuh commented on #226
We can also have one repo for writing and split then into many read-only repo.

Symfony does this with this tool: https://github.com/splitsh/lite

AFAIK, it's not possible to move a PR or an issue to another project with GitHub.

But if you choose the case with splitsh, this would not be a problem IMO.

[2017-01-06 09:31] DavidBadura commented on #207
yes, the next version will be 2.0. See https://github.com/simplethings/EntityAudit/issues/203

[2017-01-06 10:20] tseho commented on #226
Renaming the project to EntityAuditBundle makes sense, every bundle out there use the "Bundle" suffix, this will avoid confusion between a standalone library and the bundle.

Since renaming and splitting will be a major BC break (v2.0 ?), does renaming will break users using a existing release with composer ?

I like the idea suggested by @Soullivaneuh about splitting into a read-only repo. It's i

[2017-01-06 10:54] smoench commented on #226
I have moved bundle related files into a separate folder / namespace with this PR #242.

[2017-01-06 14:11] smoench commented on #238
@muspelheim Could you provide some more information about your problem? What exactly is not working? Any exception?

[2017-01-06 14:12] DavidBadura commented on #226
yes, we are working on 2.0

no, github creates redirects until we use the name "simplethings/EntityAudit" again. But we don't want to use it again, so we should be fine.

Splitting it into read-only repositories needs more maintenance time. For the 2.0 version we want to focus on a standalone library with a clean api.

[2017-01-06 14:15] smoench commented on #235
@theantichris Could you provide some more information about your problem? An example project or a test case would be great.

[2017-01-06 14:57] theantichris commented on #235
I went with my own implementation so I don't have this setup anymore. I didn't do anything other than install the bundle and update the schema using the command. The database column for the comments wasn't part of the table.

[2017-01-06 16:45] #235 closed

[2017-01-08 17:09] tolry commented on #226
I think we have two issues here to discuss and talk about them separately:

1. should we split the library and the symfony bundle (and possible future integrations in other frameworks [laravel, zend, ...]) in separate composer packages?
2. how do we organize this in terms of github repositories?

1.) This should be easy: split in separate packages - or does anybody have arguments against this?

2.

[2017-01-08 17:16] tolry commented on #226
additional article on this topic http://www.whitewashing.de/2015/04/11/monolithic_repositories_with_php_and_composer.html

[2017-01-09 11:30] #20 closed

[2017-01-09 13:49] DavidBadura commented on #157
Should be solved

[2017-01-09 13:49] #157 closed

[2017-01-09 13:57] DavidBadura commented on #161
I have the README updated

[2017-01-09 13:57] #161 closed

[2017-01-09 14:00] #136 closed

[2017-01-09 14:01] #135 closed

[2017-01-10 08:39] #194 closed

[2017-01-10 08:57] DavidBadura commented on #166
@smoench we removed the support for ORM 2.4.

https://github.com/simplethings/EntityAudit/commit/49f9454ca0c49a740a048c4b1fc8a6423cf3f977 and https://github.com/simplethings/EntityAudit/commit/142847ad21a52d07598659eefc522a803428a22a

Do we have a todo here? If yes, can you create a PR to fix this?

[2017-01-10 09:01] DavidBadura commented on #193
Sorry, but we do not have the resources to maintain further integrations. The plan is to split this project in a library and bundle. If we are done with it, then we can see if someone wants to maintain it.

[2017-01-10 09:01] #193 closed

[2017-01-10 09:07] DavidBadura commented on #182
Like @tolry says: We prefer to provide hooks/events. I try to integrate it with version 2.0 (#83)

[2017-01-10 09:07] #182 closed

[2017-01-10 10:58] DavidBadura commented on #237
Should be solved by #227

[2017-01-10 10:58] #237 closed

[2017-01-10 13:01] DavidBadura commented on #143
Sorry for the late response. Can you send us your configuration? We can not reproduce this problem.

[2017-01-10 13:03] DavidBadura commented on #144
I can not find your PR. Can you give me the link?

[2017-01-10 13:10] DavidBadura commented on #226
If everyone agrees: At the end of the week, I will rename the project to EntityAuditBundle.

[2017-01-10 13:17] Soullivaneuh commented on #226
@tseho Issues will be on the main repository. Symfony work like that: https://github.com/symfony/symfony/issues

Other read-only repositories are just part of the main repository, allows user to pick only some part of the framework.

BTW, it will be the same for versions. If you patch something on the bundle part, a new patch version will be released for both library and bundle, even if no modific

[2017-01-10 15:33] dlegatt commented on #230
It probably is a doctrine dbal issue.  I worked around it in my fork by removing the sequenceName generation starting on line 309 and instead have
`$this->revisionId = $this->conn->lastInsertId();`

[2017-01-10 15:39] DavidBadura commented on #230
Can you create a PR so we can run our tests?

[2017-01-10 17:08] dlegatt commented on #230
I have very little experience with GitHub outside of hosting my own projects.  Can you tell me what I need to do to make a PR for you?

[2017-01-10 19:21] dlegatt commented on #230
I made a PR, but it looks like it makes the tests fail

[2017-01-11 09:23] Soullivaneuh opened #248 "Have a method to get only changed properties"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no

The `AuditReader::diff` is great (and will be event better once #130 will be resolved), but if we wanted to get only changed property, we have to walk onto the returned array and make a `if ('' !== $property['same'])` each time.

This can be redundant

[2017-01-11 09:41] DavidBadura commented on #248
Why don't we change it directly? Why do we need the properties that have not changed? Do we have a usecase?

[2017-01-11 10:33] smoench commented on #230
This is an issue with doctrine dbal and is maybe related to https://github.com/doctrine/dbal/issues/2467.
It should be fixed in dbal not in entity-audit.

[2017-01-11 13:12] DavidBadura commented on #230
it should be solved in dbal (doctrine/dbal#2467)

[2017-01-11 13:12] #230 closed

[2017-01-11 15:36] Soullivaneuh commented on #248
Yes, by yourself! :trollface:

Ref: https://github.com/simplethings/EntityAudit/blob/master/src/SimpleThings/EntityAudit/Resources/views/Audit/compare.html.twig

Also use by sonata admin for the same kind of thing.

I think both are interesting, depending of the use case.

[2017-01-11 15:41] #123 closed

[2017-01-11 15:46] DavidBadura commented on #248
okay :+1:

[2017-01-11 15:51] DavidBadura commented on #215
Entity Audit supports doctrine migration

[2017-01-11 15:51] #215 closed

[2017-01-11 15:52] DavidBadura commented on #200
Sorry, this isn't the scope of entity audit.

[2017-01-11 15:52] #200 closed

[2017-01-11 16:14] DavidBadura commented on #143
We can not reproduce it. If the problem still exists (in the latest version), please create a new ticket with your configuration.

[2017-01-11 16:14] #143 closed

[2017-01-11 16:22] DavidBadura commented on #66
I am the opinion of @andrewtch. We should try to implement #37

[2017-01-11 16:22] #66 closed

[2017-01-13 14:54] #216 closed

[2017-01-13 14:56] #100 closed

[2017-01-13 14:57] #105 closed

[2017-01-16 17:52] DavidBadura commented on #121
@aivus can you **please** test the master again? I hope the problem has been fixed. Thanks!

[2017-01-16 21:15] aivus commented on #121
@DanielBadura sorry, but I can't test it again.

[2017-01-16 22:30] DanielBadura commented on #121
@DavidBadura ping ^^

[2017-01-17 19:46] DavidBadura commented on #203
I think we can close it for now. I'm trying to support here.

[2017-01-17 19:46] #203 closed

[2017-01-18 10:42] smoench commented on #238
@muspelheim Might be fixed with #227. Fell free to open this issue again if your problem still exists and you could provide us more information.

[2017-01-18 10:42] #238 closed

[2017-01-18 12:54] DavidBadura commented on #184
I think we can truncate the md5 hash. 8 chars should be enough.

[2017-01-18 13:02] smoench commented on #184
This would be the solution: https://github.com/doctrine/dbal/blob/master/lib/Doctrine/DBAL/Schema/AbstractAsset.php#L219

[2017-01-18 16:36] #184 closed

[2017-01-20 09:11] soerenbernstein commented on #158
I do this to prevent a total loss of all revisions in case something goes horribly wrong.

[2017-01-20 09:38] #166 closed

[2017-01-20 11:46] #248 closed

[2017-01-24 15:14] DavidBadura commented on #188
solved by #253

[2017-01-24 15:14] #188 closed

[2017-01-24 19:00] DavidBadura commented on #223
solved by #257

[2017-01-24 19:00] #223 closed

[2017-01-24 19:00] DavidBadura commented on #140
should be solved by #257

[2017-01-24 19:00] #140 closed

[2017-01-28 17:36] mitalcoi opened #258 "global_ignore_columns doesn't work"
EntityAuditBundle doesn't ignore column, and track any update of global_ignore_columns

[code]

My config:
[code]
My Entity:

[code]

[2017-01-30 16:29] DavidBadura commented on #258
Should be solved in v1.0.2. Thank you!

[2017-01-30 16:29] #258 closed

[2017-01-31 15:46] MicioBaus opened #259 "Error in current_username.xml"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | maybe
| RFC?             | yes

I updated the library to the latest version (v0.9.2 at the time I am writing this, my symfony version is v2.8.16).
However, when doing the ``cache clear`` command, I get the following:

[code]

It seems a typo to me.
Changing line 15 of ``current_u

[2017-01-31 16:43] DavidBadura commented on #259
The latest supported version is 1.0.x. Please update entity audit to this version. We have taken care that there are no BC breaks. This problem should no longer exist.

Thanks!

[2017-01-31 16:43] #259 closed

[2017-01-31 17:03] DavidBadura opened #260 "add official MSSQL support"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| RFC?             | no

We can not currently provide any official support for MSSQL, as we can not test it. With [AppVeyor](https://www.appveyor.com/) we have the possibility.

Doctrine is attending to integrate AppVeyor (https://github.com/doctrine/dbal/pull/2617). We should

[2017-01-31 18:46] photodude commented on #260
We did this with Joomla already
https://github.com/joomla/joomla-cms/pull/13790
and the Joomla-Framework Database package
https://github.com/joomla-framework/database/pull/72

The Doctrine DBAL implementation is just different
Note: lots of packages are doing this now

[2017-01-31 18:48] photodude commented on #260
Also there are the MSSQL Linux package now so there is a way to do this on Travis CI

[2017-01-31 18:51] photodude commented on #260
Apparently, someone has a workaround for testing Oracle DB on travis ci as well https://github.com/cbandy/travis-oracle

an Oracle account is required and the Oracle username and password has to be in the build environment variables either as hidden repository settings or encrypted variables

[2017-01-31 19:20] DavidBadura commented on #260
Amazing! Thanks for the valuable information! I'll try it soon :-)

[2017-01-31 19:30] photodude commented on #260
you are welcome

[2017-02-01 22:21] rvanlaak commented on #258
Having a BC break in a patch version release is not that nice, 😉 as we had to update our config files as result of this break.

For me it actually did to seem work well. Do you have some more info about _why_ this wouldn't work ?

[2017-02-02 09:02] smoench commented on #258
@rvanlaak Unfortunately v1.0.1 has been created on master should have been on 1.0-branch.
With v1.0.2 there is no BC-Break (has been created on 1.0-branch).

[2017-02-02 09:19] DavidBadura commented on #258
@rvanlaak See https://github.com/simplethings/EntityAuditBundle/pull/250#issuecomment-275693045

[2017-02-02 10:02] rvanlaak commented on #258
Oh, but that means it should be named back to `global_ignore_columns` again I guess?

https://github.com/simplethings/EntityAuditBundle/blob/v1.0.2/src/SimpleThings/EntityAudit/DependencyInjection/Configuration.php

[2017-02-02 10:04] DavidBadura commented on #258
Yes :)

[2017-02-02 14:54] DavidBadura opened #262 "add yaml driver"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no

Example:

[code]

[2017-02-02 17:01] bartolije opened #263 "Basic installation"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no

During installation, the line in the config.yml make the bundle bugged.
[code]

I finally removed the line, and it worked. Or at least, no more error.
Just after, I run into an issue with the annotation in my entity.

[code]
Even with some research, I didn't found any `\Mappin

[2017-02-02 18:40] smoench commented on #263
@bartolije Which version have you installed?

[2017-02-02 19:21] DavidBadura commented on #263
Please use the version 1.x. You can find the documentation here: https://github.com/simplethings/EntityAuditBundle/blob/1.0/README.md

[2017-02-02 19:21] #263 closed

[2017-02-03 11:13] bartolije commented on #263
Installed the master version.
Kinda better with 1.0 version, but will need more research about some functionnalities not working as expected. (but probably come from a wrong implementation)(see entity diff, etc).
Thank you for replies..

[2017-02-04 22:05] photodude commented on #260
FYI Doctrine is working on implementing Oracle testing on the DBAL package using @continuousphp

https://continuousphp.com

Setup is all done in the account via their web interface. so you are on your own with that.

[2017-02-08 12:00] DavidBadura opened #264 "add official Oracle support"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no

https://github.com/doctrine/dbal/pull/2630

[2017-02-10 14:42] netandreus opened #265 "How use it with KnpLabs/DoctrineBehaviors#translatable ?"
How can I use this bundle to audit translatable entities (entity_table and entity_table_translation) created with Doctrine translatable behavior?

[2017-02-17 09:40] soullivaneuh opened #267 "Too many queries on revision finder"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no

Installed version: `v1.0.2`.

With the following entity:

[code]

When I try to get one object at first revision:

[code]

I have more than 30 SQL queries executed, only for the first foreach.

On production for this object, I got 300 SQL queries, this is a serious performanc

[2017-02-24 21:50] jenyak opened #268 "Installation does not create table"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no

I install master version, register bundle, add annotation to my entity

[code]
 call the command
`app/console doctrine:schema:update --dump-sql `
but it returned
`Nothing to update - your database is already in sync with the current entity metadata`.
while I expect new tables

[2017-02-25 06:54] tolry commented on #268
@jenyak thanks for the report - master branch is *not* stable, please use `^1.0` as version restriction in composer

[2017-03-02 23:24] JProffitt71 opened #269 "Implement "Selectable" Interface in AuditedCollection"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no

AuditedCollection does not implement Doctrine's Selectable interface, which means calls to `matching()`  will result in a method not found error. Since Doctrine's collections injected into entities implement this interface and they expect developers to make use of this method

[2017-03-06 06:51] robertfausk opened #270 "Clone or create copy history of an entity if entity is cloned"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no

I want to clone history of an object or at least create a copy of its history.

Example:
[code]

Not sure how to achieve this in an easy way. Do you have any hints?

[2017-03-18 11:09] gustawdaniel opened #271 "`use SimpleThings\EntityAudit\Mapping\Annotation as Audit` does not work."
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no

I catalog structure of bundle downloaded by `composer` there is no `Mapping` catalog

![](http://i.imgur.com/a81W7Ko.png)

When on github and in documentation there is this catalog and file `Auditable.php`

![](http://i.imgur.com/G2OKoRo.png)

Proposed solution:

Update packa

[2017-03-18 11:15] tolry commented on #271
@gustawdaniel are you using a stable release with composer? Annotation support is not yet in a stable release, will be included in version 2.0 /cc @DavidBadura

[2017-03-19 10:24] gustawdaniel commented on #271
In my composer there is:

    "simplethings/entity-audit-bundle": "^1.0"

I was installing it by command from `master`.

    composer require simplethings/entity-audit-bundle

If I understand you correctly. Should I use documentation form `1.0`? Not master?

[2017-03-19 10:54] tolry commented on #271
does install - depending on your composer version - a stable version, so e.g. `^1.0`

The annotation feature is **not** yet released as a stable feature. You might try it (and lots of other changes) by using the master branch by using the following composer command

But this is not encouraged, as master might be in a broken state at any time and happens at your own risk. If you would like to use a

[2017-03-19 11:05] DavidBadura commented on #271
@gustawdaniel yes, please use version `^1.0` and this documentation: https://github.com/simplethings/EntityAuditBundle/blob/1.0/README.md

As @tolry said, master (2.0) isn't ready yet. This month, I don't have time to work on it, sorry. But I will try to release 2.0 around Easter.

[2017-03-19 11:16] DavidBadura commented on #271
I have tried to clarify the status of master in the readme: https://github.com/simplethings/EntityAuditBundle/commit/71691cef9ab82aff326ba2689784b88ccc0a2ef7

I will close this issue because it isn't a bug.

[2017-03-19 11:16] #271 closed

[2017-04-06 15:35] tolry opened #272 "[fyi] cleaned up github member permissions"
Hi @bendavies and @andrewtch,

just wanted to inform you, that I did some github administration cleanups and converted your accounts to "outside collaborators". Your permissions should stay the same as they have been before.

If you have any problems, just contact me or write in this issue.

[2017-04-06 21:06] bendavies commented on #272
thanks!

[2017-04-07 21:38] anacona16 opened #273 "ORMException Unrecognized field: field_name for ManyTo* property"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no

I'll try to describe the issue.

I have two entities Product and Category, the name of the foreign key is not the same as property name.

[code]

[code]

When I tried to see a revision I got this exception

[code]

I renamed the fields and worked.

I can't provide a PR right

[2017-04-10 09:27] whyte624 commented on #196
If audited entity contains the same field, there will be an error in `\SimpleThings\EntityAudit\AuditReader::find`. So viewing audited entity is not possible.
Can you please apply similar changes to AuditReader service?

[2017-04-12 13:05] TheRatG opened #274 "An exception occurred while executing, invalid select name of custom type"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no

The same issue as #196, but with revert side. Invalid select name is builded, when a doctrine custom type using 'convertToPHPValueSQL'. There is an example:

[code]

After that, SQL query looks like
[code]

[2017-04-14 10:02] #274 closed

[2017-04-14 10:04] #272 closed

[2017-04-14 10:07] DavidBadura opened #276 "Release 1.0.3"

[2017-04-17 21:26] rjarnutowski opened #277 "Discriminator Map / super class fields of audited entity are not audited values."
When using discriminator map and retrieving an audited entity of the superclasses child it returns the audited collection of the child entity but the superclass fields are retrieved from the current superclass table and not the audited superclass table.

[2017-04-19 08:52] DavidBadura commented on #276
Version 1.0.3 is released

[2017-04-19 08:52] #276 closed

[2017-04-19 08:53] DavidBadura commented on #277
can you please provide entities and configuration, so I can reproduce it? Thanks!

[2017-04-19 12:23] AlexeyKosov opened #278 "AuditManager is not instantiated automatically (v. 2.0)"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no

When using it as a Symfony Bundle, AuditManager has to be created manually or injected into some used service, otherwise it's not constructed and therefore no event listeners are registered.

[2017-04-19 12:27] DavidBadura commented on #278
version 2.0 ist in development. please use 1.x.

[2017-04-19 12:27] #278 closed

[2017-04-19 12:35] AlexeyKosov opened #279 "Packagist version"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no

Looks like v.1.0.3 in packagist contains the dev-master (v.2) branch and therefore doesn't work.
https://packagist.org/packages/simplethings/entity-audit-bundle#v1.0.3

[2017-04-19 15:10] DavidBadura commented on #279
oh man :-( thank you very much! should be fixed with version 1.0.4

[2017-04-19 15:10] #279 closed

[2017-05-08 09:25] c0ntax opened #280 "The rev column is hard coded in queries"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no

The configuration of this bundle allows you to change the column name used for 'rev' but it's hard coded in places so if you do change your configuration, it breaks your ability to see revisions (in Sonata)

[2017-05-08 09:43] c0ntax commented on #280
Added a pull request for this fix: https://github.com/simplethings/EntityAuditBundle/pull/281

[2017-05-25 03:03] lutrasdebtra opened #282 "Support for Symfony 3?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| Question? | yes

Haven't been able to find any information on whether this bundle currently supports Symfony version 3.\*.\*, or if it is planned for the future.

[2017-05-26 09:06] DavidBadura commented on #280
v1.0.5 released!

[2017-05-26 09:06] #280 closed

[2017-05-26 09:12] soerenbernstein opened #283 "Revision is created even if all changes to entities are ignored by global_ignore_columns"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? |no
| BC Break report? | no

Tested version: 1.0.0, 1.0.4

EntityAudit is creating a new entry in the revisions table even though all changes to the entities are dismissed by global_ignore_columns config and no entry in the corresponding audit table is created. This results in an empty revision as in a re

[2017-05-26 09:19] soerenbernstein commented on #158
@Soullivaneuh Btw. the linked script will remove revisions that only change ignored columns.

[2017-05-26 11:44] DavidBadura commented on #282
Hello @lutrasdebtra , it should support ^2.8 and ^3.0.

See https://travis-ci.org/simplethings/EntityAuditBundle/builds/236346805

[2017-05-26 11:44] #282 closed

[2017-05-26 11:46] soerenbernstein commented on #283
Updated the description

[2017-06-06 13:28] Soullivaneuh commented on #267
@DavidBadura I'm trying to dig on the issue for a fix. Do you have any clue to give?

[2017-06-06 14:35] Soullivaneuh commented on #267
BTW, I see on 2.x these options: https://github.com/simplethings/EntityAuditBundle/blob/c72d13c1194316c3962e89186f09c9a8a387b5e5/src/SimpleThings/EntityAudit/EntityFactory.php#L59-L62

It may solve this issue.

But do you know when you will create a 2.0 stable or beta release with an upgrade note?

If this is not for now, could we backport it onto 1.x? This issue is more a bug case than an improve

[2017-06-06 22:29] smoench commented on #267
Those options exists in 1.x but as properties in AuditReader and could be changed thru setters

[2017-06-07 14:53] Soullivaneuh commented on #267
@smoench Deactivating some loader indeed decrease SQL queries:

[code]

But, the created entity are not marked as `__isInitialized__: false`.

So if I try to get a relation, doctrine does not make the related query.

[2017-06-07 21:59] SanderVerkuil commented on #143
It appears that the [Doctrine ORM Bundle](https://github.com/sonata-project/SonataDoctrineORMAdminBundle) iterates over all the registered entities and if they do not have a  'audit = false' in the admin definition, add it to the registered audit entities. This can be turned of by:
[code]

While this might be an error on behalf of the Doctrine ORM bundle, I think that it'd be wise to filter the lo

[2017-06-18 03:00] aggayush opened #286 "Default Username null not allowed if token username not set in 1.0.5"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes

- If username is not set in token storage, like in a command. Previous versions were having default username as blank string which was getting saved. Now, it throws NULL error.
- Back compatibility is breaking.

[2017-06-18 11:03] DavidBadura commented on #286
Thanks for reporting. Which version did you have before?

[2017-06-18 18:28] aggayush commented on #286
We were using 0.7 before. Now switched to 1.0.5

[2017-06-20 21:18] DavidBadura commented on #269
Hey @JProffitt71 I have checked this. We can implement the `Selectable` interface, but you will have an another problem:

If you use php7 then you can't set the return type to `ArrayCollection` because the `AuditedCollection` doesn't extend `ArrayCollection`. It implements `Collection` (and then `Selectable`). This trouble do you have not only with AuditedCollection. `PersistentCollection` doesn't

[2017-06-21 06:58] DavidBadura commented on #269
ref: https://github.com/knpuniversity/php7/issues/4

[2017-07-05 12:36] sw4n opened #288 "Problem with Detail Action"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | ?

When trying to get audited entity details for this example route:
`/audit/viewent/AuditedEntityExample/15/29032`
I'm getting doctrine exception:

I've found this route while debugging:
https://github.com/simplethings/EntityAuditBundle/blob/master/src/SimpleThings/EntityAudit/R

[2017-07-05 14:39] tolry commented on #288
@sw4n a few questions

* which version are you using: caution, master is currently **not** stable/usable
* which Symfony version are you using?

[2017-07-05 14:49] sw4n commented on #288
@tolry I'm using v1.0.5 and Symfony v2.8.17

[2017-07-11 13:24] sw4n commented on #288
@tolry can you give any feedback about this?

[2017-07-17 09:25] tobias-nitsche commented on #273
We got the same problem with a manyToOne Column. Any solution yet?

[2017-07-17 10:51] tobias-nitsche commented on #273
@anacona16  https://github.com/simplethings/EntityAuditBundle/pull/290

[2017-07-21 07:53] tolry commented on #286
Havin the same problem here, when upgrading from `^0.9` to `1.0.5` - investigating

[2017-07-21 08:07] tolry commented on #286
Hmm, this looks correct https://github.com/simplethings/EntityAuditBundle/blob/v1.0.5/src/SimpleThings/EntityAudit/EventListener/CreateSchemaListener.php#L112

But doesn't seem to work or the code is not even executed?

[2017-07-21 08:23] tolry commented on #286
Ok, the `setNotnull()` works, but this is a new(ish) thing. So previously the username would always be a string. If the username was unknown, it would be an empty string, but never null.

So one way to fix this would be to run a migration and get an `ALTER TABLE` for the username column allowing NULL. But I would still consider this a BC break.

The responsible commit is the following

https://git

[2017-07-21 08:26] tolry commented on #286
I will prepare a PR shortly

[2017-07-21 08:26] Ocramius commented on #286
@tolry in SQL, null is a very precise concept ("absence" of a value)

[2017-07-21 08:29] tolry commented on #286
@ocramius, yes and for 2.x I might agree that this is more precise than an empty string. But forcing users to run a migration for patch level upgrades I would really like to prevent.

[2017-07-21 08:30] Ocramius commented on #286
@tolry no, indeed, for a patch version there should be no user interaction needed to upgrade.

[2017-07-21 11:08] bendavies commented on #286
(Y)

[2017-08-02 12:20] braianj commented on #282
it´s support 3.3?

[2017-08-03 04:30] gundamkid opened #294 "Invalid configuration"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | yes/no
| BC Break report? | yes/no

I tried to ignore some columns follow your documentation but i get this error:
[code]

this is my configuraton:
[code]

What wrong with me?

Thank you!

[2017-08-03 05:52] tolry commented on #294
@gundamkid "global_ignore_columns" was renamed to "global_ignore_properties" as it's more precise. But the old option should still be working, **except** for `master` branch, which is **not stable** at the moment.

Which version are you using?

[2017-08-03 06:25] gundamkid commented on #294
Thank you for your reply, i'm using version 1.0.1.

[2017-08-03 06:51] tolry commented on #282
@braianj as you can see from the travis runs, only 3.2 was tested so far, but since their "should" be no BC breaks in minor versions of symfony, 3.3 shoudl work out of the box.

If you experience any problems, please take the time to write a separate issue - thx 👍

[2017-08-03 08:07] DavidBadura commented on #294
@gundamkid this was fixed in version [v1.0.2](https://github.com/simplethings/EntityAuditBundle/releases/tag/v1.0.2). Please use always the latest patch-level version before creating an issue 😉

Thanks!

[2017-08-03 08:07] #294 closed

[2017-08-03 08:22] DavidBadura commented on #286
fixed in [v1.0.6](https://github.com/simplethings/EntityAuditBundle/releases/tag/v1.0.6)

[2017-08-03 08:22] #286 closed

[2017-08-03 12:06] braianj opened #295 "How to audit user roles"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no

Hello, I was able to implement part of the code, and add into config.yml

[code]
But I can't  audit the table users_roles, since there is no entity for that table.
Inside Users entity I have this

[code]

And inside roles

[code]

And then it will be usefull to know how to us

[2017-08-03 12:55] tolry commented on #295
Not an expert on these advanced features, but take a look at #99

[2017-08-04 04:34] gundamkid opened #296 "Problem get history for OneToMany relation"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| BC Break report? | yes

Yesterday i got an issue when i tries to implement OneToMany audit:
- I have 2 table User and Address with relationship is OneToMany.
- The audit can log when I change Address.
- But when i want to show history I get this error (i will post full error for you to easy tracking)
[code]
This is proble

[2017-08-04 12:24] Webonaute opened #297 "Syntax error or access violation: 1110 Column 'category_id' specified twice"
| Q                | A
| ---------------- | -----
| Bug report?      yes
| Feature request? no
| BC Break report? no

PHP 7.1
Symfony 3.2

I have issue where column are specified twice in the sql query.

[2017-08-07 08:50] tolry commented on #297
@Webonaute could you give us a few more informations?

Helpful details

* which exact version of entitybundle are you using
* could you give us your entity definition?
* could you give us the complete query?

thanks

[2017-08-07 13:59] Webonaute commented on #297
Its the last release version v1.0.6
it happen when an entity have the column definition like category_id and an association many to one. I know its unusual but this configuration look to save us a lot of load time.

[2017-08-08 07:42] gundamkid commented on #296
the reason is my JSon Serializer, not from EntityAuditBundle.
Thank you!

[2017-08-08 07:45] DavidBadura commented on #296
So, we can close this? Thanks!

[2017-08-08 07:47] gundamkid commented on #296
@DavidBadura yep, please help me close this. Thanks!

[2017-08-08 07:47] #296 closed

[2017-08-09 06:39] mhnrm commented on #288
Same issue here, is there any progress in this?

I'm currently using version 1.0.6 of the AuditBundle and Symfony 2.8.25.

[2017-08-10 10:03] tolry commented on #297
@Webonaute doesn't sound unusual at all and generally those associations are supported, as far as I know

Would you mind giving more details (as told above, Entity definition, complete sql query, complete error message, ...), otherwise we will be unable to reproduce this.

[2017-08-10 16:53] Webonaute commented on #297
our delivery is very close so for now we only disabled all audit on translation table. I will come back with the needed information soon.

[2017-08-11 12:25] nerdusMaximus opened #299 "Auditing OneToOne relations and their Entities"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no

Hello,

Im right now having an issue with the usage of auditing OneToOne relations.
Im using your bundle in the context of the SonataAdminBundle.
By default all Admin-related entities seem to be audited automatically.
Now my audited entity has relations like this one:

[code]

[2017-08-14 09:45] ceesvanegmond commented on #199
@Jerome1337 Do you solved the problem. I'm having the exact same problem @bendavies. Currently investigating...

[2017-08-14 09:51] ceesvanegmond commented on #199
@bendavies Found the problem, problem occurs when using Sonata Admin. Do you have this code enabled? This should solve it.

[code]

[2017-08-16 14:16] Jerome1337 commented on #199
@ceesvanegmond Exactly this solve the creation problem.

[2017-08-29 00:43] benbet opened #300 "how to test the className in Twig ?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no

Hi,

thank's for your magic bundle :-)

In my project, I want to make a history list of revisions and I want to adapt my text in relation of the entity that's modified. To do this I want to check the name of the className in twig like "entity.className == 'bundle\entity\nameEn

[2017-09-12 18:21] tolry commented on #299
@nerdusMaximus which version are you using? master is currently not stable and might cause the problems you described

[2017-09-12 18:29] nerdusMaximus commented on #299
Hey there,
im using `"simplethings/entity-audit-bundle": "^1.0"`
The only way i got other entites to be audited was to configure a separate Admin-Class.
But there i have the Problem that changes in this injected Admin-Class are not stored in a version of my base Entity but in the corresponding Auditing.

Basically i am looking for a solution to Audit changes over all entities which are injected in

[2017-09-18 06:41] nerdusMaximus commented on #299
@tolry can you give me any hint on how to realize this? Or do you need more information on what i try to achieve? Appreciate any help.

Best regards,
Ronald

[2017-09-28 12:49] gustawdaniel opened #302 "Tracking many to many relation added and removed connections."
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| Used Version     | any

I see that in docs there is info, how to tracka entity. But i want to create versioning of many to many relation. It is possible with this package? If yes, how to do this?

[2017-09-28 13:01] gustawdaniel commented on #302
I saw todo: `Many-To-Many associations are NOT versioned` on the end of

but it seems to be unmaintained. It is also in this docs in 1.0 version:

But it is not added to `todo` of master.

[2017-10-04 19:03] cirovargas commented on #288
Same here Bundle version 1.0.6, symfony 3.3.9

[2017-10-13 12:59] Laniax commented on #268
any update on this?

[2017-10-16 19:30] JProffitt71 commented on #269
To clarify, I consider this a bug because it throws errors even when you follow best practices:

[code]

Inside the entity it's expected that Doctrine injects a Selectable object (both ArrayCollection and PersistentCollection implement Selectable). If both "MyEntity" and "MySubEntity" are audited and you load a revision of MyEntity, then you will get an error as soon as you access "getSubEntities"

[2017-10-19 04:39] razcakappa opened #304 "Can this package be used with Zend Framework 2 or 3?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| Used Version     | 1.0.1

Can this package be used with Zend Framework 2 or 3?

[2017-10-19 09:13] tolry commented on #304
@razcakappa we are in the process of splitting the symfony bundle and library code in two seperate repositories/packages - after that, integration of the library with other frameworks should be smoother than currently. There are no dates set for this, but look out for version 2.0

That said: there are no plans of providing special Zend Framework integration, as none of the developers use ZF full s

[2017-10-19 09:13] #304 closed

[2017-10-19 09:14] tolry commented on #304
In addition: if you would like to contribute ZF integration, please ping us beforehand so we can plan and discuss how this would fit in the new repository structure.

[2017-10-19 09:41] razcakappa commented on #304
Hey Olry,

Thanks for the reply and it make sense that separating the library code and
Symfony related code.
Hope to fork that and make something useful for ZF

Stephan

On Thu, Oct 19, 2017 at 2:44 PM, Tobias Olry <notifications@github.com>
wrote:

--
No When

[2017-10-30 10:24] aibragimov4xxi opened #305 "No Mapping/Annotation path after version 1.0.3"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| Used Version     | e.g. 1.0.6

There is no path `Mapping/Annotation` after version 1.0.3

So if you try to use `composer require simplethings/entity-audit-bundle` with Symfony you will have an error in your entity after using
`use SimpleThings\EntityAudit\Mapping\Annotation

[2017-10-30 10:44] aibragimov4xxi opened #306 "Wrong behavior with Symfony doctrine:migrations:diff command"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| Used Version     | e.g. 1.0.1

I annotated my entity as Auditable, then I tried to use `php bin/console doctrine:migrations:diff` command.
But in new migration there was many `audit` tables for another entities (which were not auditable) but no table for my auditable entity.

[2017-11-23 14:22] BitScout commented on #305
I found a way to make 1.0.6 work by ignoring the current README.md:
- Revert your entity class. No `use SimpleThings...,` no annotation.
- Add the following (taken from the branch 1.0 README.md) to your config.yml:

[code]

Now `php .\bin\console doctrine:schema:update --dump-sql` will generate the CREATE statement etc. for your `foo` table. (Why does README.md say `./app/console` instead?)

[2017-11-30 09:45] Soullivaneuh commented on #267
Anything new on this issue?

I don't think this should be marked as an improvement but as a bug. It's a serious performance issue.

[2018-01-02 09:44] npoa-cm commented on #283
Still doesn't work in 1.0.6. Fix would be appreciated.

[2018-01-05 20:25] joshgh opened #307 "Getting private services from container is deprecated since Symfony 3.2"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| Used Version     | 1.0.6

When accessing the auditReader service as described in the README, the following deprecation notice is thrown by Symfony (I am using Symfony 3.4):
`User Deprecated: The "simplethings_entityaudit.reader" service is private, getting it from the contain

[2018-01-12 15:33] phansys commented on #283
Is this issue a duplicate of #258?

[2018-02-05 16:19] severin-bruhat commented on #172
Hi,
What's the status of this feature? That would be really great if we could restore an entity to a specific revision.

Thanks

[2018-02-07 15:42] diedna commented on #258
Hi,
I have the same issue with (simplethings/entity-audit-bundle v1.0.6) using

simple_things_entity_audit:
    global_ignore_columns:
        - reference

EntityAuditBundle doesn't ignore column, and track any update of global_ignore_columns, can you please help me fix it!

[2018-02-23 21:15] phansys opened #308 "`AuditCollection` methods intended to return a collection of entities should not return an array"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| Used Version     | 1.0.6

`AuditedCollection` methods intended to return a collection of entities (`partition()`, `filter()`, `map()`) should not return an array, but an object implementing `Collection` interface with the resulting elements.
This behavior must be the same wh

[2018-02-27 13:40] DanielFurmanov opened #309 "[question] How to run tests?"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no
| Used Version     | 1.0.6

I have forked and made some changes, How do I run tests? Your phpunit readme says "Currently tests only run in a Symfony2 context.", does that mean that I should install symfony2 and require EntityAuditBundle with composer? How then I run tests for t

[2018-02-28 07:53] tolry commented on #309
where did you fork your branch off? master is currently in a "broken" state (split up of library + bundle in two repositories)

[2018-02-28 08:28] DanielFurmanov commented on #309
@tolry I have been using the 1.0.x branch, so it should be ok.
What I actually did - i took some PR from master and implemented it in 1.x branch. Everything is working so far, but I want to be sure that bundle is actually working. Have never encountered the need to run test for specific vendor package... so kinda struggling. Just `phpunit <Audit bundle folder>` doesn't work, fails to load some sym

[2018-02-28 08:40] tolry commented on #309
Sorry for not being much of help here, since I haven't run the tests myself (not a real active dev of this package :-) ) - easiest way might be, to submit a PR as "WIP" and let travis do the heavy lifting. Although 1.0-branch seems to have build problems by itself :-/ => https://travis-ci.org/simplethings/EntityAuditBundle

But this seems to be mostly because of a php version problem (5.3 no longe

[2018-02-28 08:42] tolry commented on #309
https://github.com/travis-ci/travis-ci/issues/7163 <-- on the php 5.3 issue

[2018-02-28 09:31] DanielFurmanov commented on #309
Thank you for the option, created the PR https://github.com/simplethings/EntityAuditBundle/pull/310
Will write in some time, I am currently submitting also PR to my project, so when it will be tested its safe to assume that the bundle is working properly (it should)

[2018-03-06 17:37] Soullivaneuh opened #311 "Provide autowiring for AuditReader"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | no
| BC Break report? | no

Example:

[code]

[2018-03-07 09:15] tolry commented on #311
@Soullivaneuh this would only require an alias with the classes FQCN? Even in our quite broken (master) state, I would think, there would be no harm in this.

Would you mind preparing a PR against the 1.x-branch?

[2018-03-07 09:15] tolry commented on #311
@DavidBadura or do you see any problems in this?

[2018-03-07 09:18] Soullivaneuh commented on #311
Yes, but the best is to do a reverse alias (Make FQCN as main service id) and deprecate the old service name.

[2018-03-07 09:19] tolry commented on #311
fine be me, as long as there are no BC breaks in 1.x :smile:

[2018-03-07 09:41] Soullivaneuh commented on #311
I'm lastly not sure if we can do it. Apparently, we can't deprecate alias. :-/

[2018-03-07 09:44] tolry commented on #311
You mean formally deprecate the alias? I wouldn't mind that, as long as the old service id still works in 1.x and we remember to add it to the migration log for 2.0 when/if we remove the alias.

[2018-03-07 10:11] greg0ire commented on #311
Related: https://github.com/symfony/symfony/pull/24707

[2018-03-15 02:41] andy43226 opened #312 "Problem with inheritance type JOINED"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | ?
| Used Version     | 1.0.6

[2018-03-27 19:27] naazh0 commented on #273
chúpenlaaaaaaaaaaaa

[2018-03-29 13:02] Chemoul commented on #258
Hi,
I have the same issue as below using simplethings/entity-audit-bundle v1.0.6
Is there a fix planned?

[2018-04-01 13:45] brud opened #314 "Symfony 4 support"
| Q                | A
| ---------------- | -----
| Bug report?      | no
| Feature request? | yes
| BC Break report? | no
| Used Version     | none

May be I'm to naive, but did you planing for supporting Symfony 4 in your bundle?)

[2018-04-02 07:47] tolry commented on #314
@brud dev power is quite low at this project (has been for a while) - but I do not see any show stoppers for sf4 (haven't tried it yet) - of course we do not have a fancy flex recipe for now :smile:

Do you have concrete problems using the bundle with sf4?

[2018-04-03 12:16] halilibrahim commented on #295
Does anyone have a solution for this?

I'm using v1.0.7

[2018-04-04 10:00] tolry commented on #314
@brud can you check if everything is working for you with 1.0.8? see #316

[2018-04-04 10:01] tolry commented on #311
@Soullivaneuh can you check if everything is working for you with 1.0.8? see #316 (old service id deprecations excluded)

[2018-04-04 22:51] c-butcher opened #318 "All fields on the revision table are marked as not null."
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| Used Version     | 1.0.8

The revision table that is created during the schema generation is marking all of the fields as "NOT NULL", even though a lot of them are nullable. This is causing integrity constraint violations when a revision is saved.

[2018-04-05 06:04] montaniasystemab commented on #318
It seems like this issue is introduced with doctrine/dbal v2.7, for a quick workaround you might solve this issue by locking doctrine/dbal to version v2.6 in your composer file:

`"doctrine/dbal": "v2.6.*"`

[2018-04-05 09:01] c-butcher commented on #318
Thanks, I'll try that out and see what happens. While my solution worked for my specific case, I just realized that `'notnull' => false` is the same as `'null' => true`. Having double negatives in the code is -really- confusing.

So does this mean that the EntityAuditBundle is not compatible with Doctrine/DBAL > 2.6 and is there a plan to make it compatible?

[2018-04-05 10:02] tolry commented on #318
@c-butcher as we have no real active maintainer of this package, it's sure to say, that no tests against dbal 2.7 were done :smile: 2.6->2.7 should in theory have no BC breaks, ... therefore version restrictions in EntityAuditBundle allow `<3.0`

If changes can be made to allow usage with any 2.x version, I am happy to merge those.

For the double negatives: I agree, quite confusing - I guess the

[2018-04-06 06:51] axzx commented on #318
There are more problems

`./bin/console d:s:u --dump-sql`:

[code]

my db schma:
[code]

[2018-04-08 22:52] phansys commented on #318
@c-butcher, could you please confirm if #320 fixes the issue?
Thank you.

[2018-04-09 08:41] Soullivaneuh commented on #311
I close this issue as it works now since the upgrade, thanks! :+1:

But please note: Making all service public is not a solution. We should avoid public service as possible. Since we have autowiring, we can take benefit of the dependency injection without using the container directly. :+1:

I agree, it's BC break. It should be done on next major.

[2018-04-09 08:41] #311 closed

[2018-04-27 15:48] Ballihaut commented on #288
Hi,
we are facing to the same
I see this issue is open since for a wild.
Did this issue have a definive fix, we don't have identify ?

[2018-05-06 08:56] helmuthva commented on #288
same here.

[2018-05-06 08:57] helmuthva commented on #288
Same here:

2018-05-06 10:56:56] app.DEBUG: hosts from env {"hosts":"localhost:9200"} []
 --------------------- ---------------------------------------------------------------------------------------------
  Symfony
 --------------------- ---------------------------------------------------------------------------------------------
  Version               4.0.9
  End of maintenance    07/2018
  End

[2018-05-06 16:41] webmarka commented on #203
Is this bundle compatible with Symfony 3 ?

[2018-05-06 16:49] phansys commented on #203
Yes, it is.

[2018-05-07 11:52] npoa-cm commented on #283
no, still present in 1.0.9.

[2018-06-29 15:09] leberknecht opened #328 "Duplicated-key error on removal"
| Q                | A
| ---------------- | -----
| Bug report?      | maybe
| Feature request? | no
| BC Break report? | no
| Used Version     | v1.0.9

Hi, i have a strange situation on a remove: when `LogRevisionListener:onFlush` is called, the UoW has scheduled two removals for the same entity, one for a proxy class, one for a already-resolved entity (i think that this due to one relation on r

[2018-07-06 21:50] phansys opened #329 "[RFC] `global_ignore_columns` param should be renamed to `global_ignore_fields`"
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | no
| Used Version     | 1.0.9

`global_ignore_columns` param must be renamed to `global_ignore_fields`, since its values are checked against field names instead column names.
I think we could deprecate it, explaining the new one must be used.

[2018-07-09 07:44] tolry commented on #329
IIRC both configuration names are working currently, leaving the old (columns) only for compat reasons, but I might be confusing this with another ignore-config variable.

[2018-07-09 07:47] tolry commented on #329
found the PR https://github.com/simplethings/EntityAuditBundle/pull/213

[2018-07-10 12:39] phansys commented on #329
In latest `1.x` tag (currently [v1.0.9](https://github.com/simplethings/EntityAuditBundle/releases/tag/v1.0.9)), there is just `global_ignore_columns` config option: https://github.com/simplethings/EntityAuditBundle/blob/5725ecab2d132288842d9a075d1a8662520829c5/src/SimpleThings/EntityAudit/DependencyInjection/Configuration.php#L18-L20
#213 was made against `master`, even, that option is currently

[2018-07-10 13:10] tolry commented on #329
Hmm, I could have sworn, that PR was older than the 1.x-branch, sorry about the confusion. I guess it's time to decide about master branch being reverted to/merged with 1.x to avoid a complete halt in development.

Last I heard from @DavidBadura it sounded, like he wouldn't finish the master refactoring if at all - any changes there @DavidBadura? Is the lib + bundle split still happening or should

[2018-07-10 20:16] tolry commented on #329
weird, probably by mistake

[2018-07-10 21:02] phansys commented on #329
Can I help? Please, don't hesitate to share your concerns.
Thank you in advance!

[2018-08-28 10:47] Soullivaneuh commented on #305
It looks like it's not wanted.

d6c1c0667a83b0256f907b15ba77e084269042f2 where it is introduced is contained in 1.0.1 and 1.0.3 but not 1.0.2 nor the others.

And if you looks at https://github.com/simplethings/EntityAuditBundle/pull/222, you will see the PR is targeted for 2.0 release.

@DavidBadura Could you please confirm that and give us more information? BTW, did you plan to release 2.0 soon?

[2018-08-30 12:50] kamilHipsz opened #330 "'getIdentitySequenceName is not supported by platform' using Microsoft SQL Server"
| Q                | A
| ---------------- | -----
| Bug report?      | maybe
| Feature request? | no
| BC Break report? | no
| Used Version     |  1.0.9

Hi. I have a problem with EntityAdutBundle using MSSQL 2016 database/sqlsrv driver. While inserting data to database I get an DBAL Exception: Operation 'Doctrine\DBAL\Platforms\AbstractPlatform::getIdentitySequenceName' is not supported by platfo

[2018-10-05 22:35] Webonaute commented on #203
support sf4 https://github.com/supersmile2009/EntityAuditBundle

[2019-02-14 10:30] mattchete commented on #306
@aibragimov4xxi Did you find any solution?

[2019-05-23 11:51] balvirsingh opened #336 "Unable to find template "SimpleThingsEntityAuditBundle:Audit:index.html.twig""
| Q                | A
| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| Used Version     | e.g. 1.0.1

I installed the bundle on both Symfony 3 and Symfony 4 versions. Installed successfully, logs are inserting successfully. But when I call the URL -

http://localhost:3000/audit

it gives the mentioned below error -

Unable to find template "Si

[2019-05-30 12:29] #288 closed

[2019-06-08 09:17] sulaman0 commented on #305
I've tried by using the mentioned codes but not working.
When I'm inserting new records through the Foo Entity, no record added to the revision table

[2019-06-20 15:03] soullivaneuh commented on #223
Hi,

Do we have any vision of a stable release of 2.0?

Also, does #257 apply field ignorance on table generation?

Thanks

[2019-06-20 15:11] soullivaneuh commented on #223
By field ignorance, I mean the `CreateSchemaListener`.

[2019-07-21 17:07] PelseA commented on #273
I had the same ORMexception 'unrecognized field: category' (Symfony 4). On the advice I did in console 'php bin/console doctrine:schema:update --force'  and it worked. Despite the fact that I didn't make any changes in the database.

[2019-08-02 08:36] emr commented on #306
Same problem here (v1.0.9). But the problem not related to doctrine migrations. I think related to Symfony service container and the `simplethings.entityaudit.audited_entities` parameter bundle's uses.

[2019-08-02 09:01] emr commented on #306
I found where `simplethings.entityaudit.audited_entities` parameter is modified.
See: https://github.com/sonata-project/SonataDoctrineORMAdminBundle/blob/3.x/src/DependencyInjection/Compiler/AddAuditEntityCompilerPass.php#L52

`SonataDoctrineORMAdminBundle` modifies it. You can disable this behavior with that bundle's configuration:
[code]

[2019-08-22 09:10] SumonMSelim commented on #269
I am using Audit feature in Sonata Admin and getting this error that `matching()` method not exists in `AuditedCollection`. Any update or progress to fix this yet?

[2019-10-11 22:01] toriqo commented on #336
add the templating engine to your framework

`framework:
    templating:
        engines: ['twig']`

[2019-10-22 16:04] mrtnzagustin commented on #191
@RomainCXP are u still using this bundle? did  you fork it to make that changes? im having the same issue

[2019-10-22 16:10] mrtnzagustin commented on #203
Anyone knows a fork with support or fix to use composite keys? im having this error when updating a table: Warning: spl_object_hash() expects parameter 1 to be object, string given

[2019-11-27 19:42] W0rma commented on #300
AFAIK twig does not support this out of the box. However you could just add a custom twig extension as describe here: https://stackoverflow.com/a/58419702/7256202

[2019-11-27 19:51] W0rma commented on #307
Should have been fixed in https://github.com/simplethings/EntityAuditBundle/pull/316

[2020-02-29 21:29] jmada commented on #273
I had the same error but I solved it.
I just cleared the cache.

 php bin/console cache:clear

[2020-04-29 08:32] Skoroglyad opened #342 "Set up entity_manager"
| Q                | A

| ---------------- | -----
| Bug report?      | yes
| Feature request? | no
| BC Break report? | yes
| Used Version     |  1.0.9

Hello, I have several databases in my app. So, I need to set up specific entity_manager. My config is:

simple_things_entity_audit:
    entity_manager: not_default
    table_prefix: ''
    table_suffix: _audit
    revision_field_name: rev
    rev

[2020-05-07 09:53] #342 closed

[2020-07-01 07:43] videni opened #343 "What happened to this project? It is transfer to `sonata-project`."
almost three years old, still get lots of attention, 1 615 861 dowloads in packgist,  but no PR are accepted.

[2020-07-01 08:06] videni commented on #343
it seems this project is actively used by  [martin-georgiev/EntityAuditBundle](https://github.com/martin-georgiev/EntityAuditBundle).

[2020-08-04 06:49] kirya-dev commented on #336
Now templating is deprecated

[2021-01-19 13:05] maguramarkian commented on #343
@tolry   can you please  answer or set this project as abandoned

[2021-01-22 12:51] tolry commented on #343
Hi, haven't been in charge for quite some time and haven't even been using the bundle anywhere, so I can't say anything about this. General discussion about project's status was here #3605

Maybe @sewah or @hnadler can give a little more insight here?

[2021-01-25 13:20] VincentLanglet commented on #343
What about adding new maintainer ?
@phansys proposed himself https://github.com/simplethings/EntityAuditBundle/issues/203#issuecomment-380681587

[2021-02-04 12:22] wbloszyk commented on #343
Since February 2021 this project will be maintain and contribute by sonata-project.

It was transfered becouse:
- there was no active  development going on (on `simplethings/entity-audit-bundle`)
- ~90% of the downloads for this bundle come from sonata users
-  @beberlei - who initially wrote this bundle - suggested for sonata to maybe pick up the bundle - https://github.com/sonata-project/EntityA

[2021-02-07 14:27] #343 closed

[2021-02-13 18:01] #226 closed

[2021-02-13 18:17] #121 closed

[2021-02-13 18:36] W0rma commented on #314
This has already been fixed in https://github.com/sonata-project/EntityAuditBundle/pull/347

[2021-02-13 18:38] #314 closed

[2021-02-16 09:27] #308 closed

[2021-02-17 10:40] wbloszyk commented on #336
It look like wrong Symfony configuration.

[2021-02-17 10:52] #309 closed

[2021-02-17 10:52] #300 closed

[2021-02-17 10:53] #265 closed

[2021-02-17 18:34] #336 closed

[2021-02-20 17:25] #330 closed

[2021-02-20 17:25] #328 closed

[2021-02-20 17:25] #329 closed

[2021-02-20 17:25] #312 closed

[2021-02-20 17:25] #318 closed

[2021-02-20 17:25] #305 closed

[2021-02-20 17:25] #306 closed

[2021-02-20 17:25] #307 closed

[2021-02-20 17:25] #299 closed

[2021-02-20 17:25] #302 closed

[2021-02-20 17:25] #283 closed

[2021-02-20 17:25] #297 closed

[2021-02-20 17:25] #268 closed

[2021-02-20 17:25] #269 closed

[2021-02-20 17:25] #270 closed

[2021-02-20 17:25] #262 closed

[2021-02-20 18:16] #214 closed

[2021-02-20 18:16] #172 closed

[2021-02-20 18:16] #191 closed

[2021-02-20 18:16] #84 closed

[2021-02-20 18:16] #87 closed

[2021-02-20 18:17] #67 closed

[2021-02-20 18:17] #83 closed

[2021-02-20 18:17] #63 closed

[2021-02-21 10:16] #37 closed

[2021-02-23 09:15] #273 closed

[2021-02-23 09:15] #277 closed

[2021-02-23 09:15] #295 closed

[2021-02-23 09:15] #224 closed

[2021-02-23 09:15] #267 closed

[2021-02-23 09:15] #158 closed

[2021-02-23 09:15] #185 closed

[2021-02-23 09:15] #64 closed

[2021-02-23 09:15] #128 closed

[2021-03-02 09:16] #264 closed

[2021-03-02 09:16] #219 closed

[2021-03-02 09:16] #260 closed

[2021-03-02 09:16] #144 closed

[2021-03-10 11:13] alexandrubau opened #370 "Audit tables are being generated for all entities, not just the ones specified in config"
The command `php bin/console d:s:u --dump-sql` dumps an SQL that would generate audit tables for all entities in my project even though I specified only one entity in config.

[code]

In [docs](https://sonata-project.org/bundles/doctrine-orm-admin/3-x/doc/reference/audit.html) it says that a `force.audit` option would disable audit for all entities but that option does not exist.

Using `sonata-pr

[2021-03-10 12:26] phansys commented on #370
I think this issue is related to #199,

[2021-03-10 14:15] alexandrubau commented on #370
Thank you very much @phansys ! I was specifying `force.audit` option for `simple_things_entity_audit` instead of `sonata_doctrine_orm_admin`

[2021-03-10 14:15] #370 closed

[2021-03-24 18:34] AlexeyKosov opened #376 "Support Annotations"
## Feature Request

The original package (the master branch) had support for annotations so that it was possible to configure entities like

[code]

Are there any plans to merge that functionality at some point?

[2021-03-24 19:09] VincentLanglet commented on #376
I'm not sure any new maintainer are aware about the changes made to the previous master branch.
Any improvement is welcomed if you can find the PR with this feature and if you want to make the new PR.

[2021-03-25 17:03] AlexeyKosov commented on #376
These are the commits that added that feature: https://github.com/sonata-project/EntityAuditBundle/commits/legacy_master/src/SimpleThings/EntityAudit/Mapping/Annotation

[2021-04-19 14:09] drjele commented on #376
@AlexeyKosov i created a different audit bundle that also uses annotations and has extra features, https://packagist.org/packages/drjele/doctrine-audit

(if my comment should not be here, let me know and i will delete it)

[2021-07-09 14:34] BurningDog opened #405 "Compare Revision (`CompareAction`) route not working"
### Environment

Mac OS 10.14.6
PHP FPM 7.4.16
nginx 1.21.1
Symfony 4.4

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

When attempting to compare revisions on the `simple_things_entity_audit_compare` route (coming from the `simple_things

[2021-07-09 14:43] BurningDog commented on #405
The route definition is `path: /compare/{className}/{id}/{oldRev}/{newRev}` with

[code]

The issue is that when `oldRev` and `newRev` aren't set in the path, the `~` means they should default to `null` but instead they default to the empty string `""` when they hit the controller, which doesn't match the controller signature.

So this route doesn't work - `/audit/compare/App%5CEntity%5CTestEntity

[2021-07-09 14:44] VincentLanglet commented on #405
Do you know how to default to null instead ?

[2021-07-09 14:46] BurningDog commented on #405
@VincentLanglet no, I don't - the [yaml docs](http://yaml4r.sourceforge.net/doc/page/basic_types_in_yaml.htm ) say that `~` _does_ default it to `null` but that's now how it's working here. What else should I do to default it to null?

[2021-07-09 14:52] VincentLanglet commented on #405
Can you try `null` instead `~`

[2021-07-09 14:52] BurningDog commented on #405
Yes, I've done so - the same exception results.

[2021-07-09 14:58] BurningDog commented on #405
I can get the code working as desired by changing the function from

[code]

to

[code]

...which works fine, but exposes a _new_ exception:

[code]

...so the following 2 lines need to be changed from

[code]

to

[code]

...and _then_ only do I see what I expect to see:

![Screenshot 2021-07-09 at 16 56 43](https://user-images.githubusercontent.com/787653/125097669-a7eecb80-e0d6-11eb-8e63-e8d183

[2021-07-09 15:24] BurningDog commented on #405
...I'm really scratching my head here. If I remove the type hints in the controller and then do:

[code]

and then call the url without `oldRev` or `newRev` specific, like so - `/audit/compare/App%5CEntity%5CTestEntity/1` - and then inspect the values of both in the controller function, they're both still empty strings, instead of the expected `"WTF"` or `0`.

Is it possible I have something messi

[2021-07-09 15:37] VincentLanglet commented on #405
It would be nice to not change the signature, in order to copy the one from the controller.

Does adding `= null` in the signature of the controller is changing something ?

Cc @wbloszyk @phansys @sonata-project/contributors, any idea ?

[2021-07-09 15:52] BurningDog commented on #405
Agreed.

Ah! Turns out [audit.xml](https://github.com/sonata-project/EntityAuditBundle/blob/1.x/src/Resources/config/routing/audit.xml#L15-L16) is used _instead_ of [routing.yml](https://github.com/sonata-project/EntityAuditBundle/blob/1.x/src/Resources/config/routing.yml). The xml tags need to have a null attribute added, like so:

[code]

Then the routing works as expected! However, the [new exc

[2021-07-09 15:57] VincentLanglet commented on #405
Yes indeed, there is a NEXT_MAJOR comment to remove the routing file https://github.com/sonata-project/EntityAuditBundle/blob/1.x/src/Resources/config/routing.yml#L1

Can you open a PR ? :)

[2021-07-09 16:11] BurningDog commented on #405
Ok! PR opened! My first one, so I need a maintainer to approve running the workflows, please.

[2021-07-20 06:51] #405 closed

[2021-08-10 08:51] BurningDog opened #418 "Identical Dates should not create a revision"
## Feature Request

When I update a Symfony entity with a DateTime property which is identical to the first revision - e.g. `new \DateTime('2021-12-25')` - a new revision gets created, but I don't want it to. The new revision is created because the `DateTime` objects are different (I have the same issue when using [\MyCLabs\Enum\Enum](https://github.com/myclabs/php-enum) and created a "new" - but

[2021-08-20 08:24] drupol opened #426 "Integration with EasyAdminBundle ?"
Hello,

I'm trying to use this amazing bundle with another amazing bundle: [EasyAdminBundle](https://symfony.com/bundles/EasyAdminBundle/current/index.html).

My project only have one entity: ```Document```.

Once this bundle has been enable, 2 new tables were created automatically: `documents_audit` and `revisions`.

I created entities out of these tables and I succeeded to use it properly with E

[2021-08-20 15:01] VincentLanglet commented on #426
There is nothing related to EasyAdminBundle here, just to doctrine and databases

You should rely on migration to recreate your database.

It would be better to run
[code]
rather than
[code]

A PR can be done to improve the documentation.

[2021-08-20 21:07] drupol commented on #426
HI @VincentLanglet ,

When I do that I have the same issue:

[code]

[2021-08-20 23:15] VincentLanglet commented on #426
To me you already messed up your base.

I only run
- doctrine:database:drop
- doctrine:database:create
- doctrine:migration:migrate
- doctrine:migration:diff

If you run schema:create you certainly have nothing more to do.

[2021-08-21 09:15] VincentLanglet commented on #426
Problem solved, there was already an entity with a table called `documents_audit`

[2021-08-21 09:15] #426 closed

[2021-08-21 09:37] drupol commented on #426
Yep, thanks for the help.

[2021-10-29 10:19] bobemoe commented on #370
Just stumbled across this too, the fix works but its seems a but unintuitive default behaviour, I inferred from the README here that 'Load extension "simple_things_entity_audit" and specify the audited entities' was required and would take affect straight away.

Maybe a mention of this in the README would be good?

NOTE: This (is not required? and) will not take affect until unless `force.audit` o

[2021-11-02 16:33] soullivaneuh opened #457 "Argument 3 passed to SimpleThings\EntityAudit\Revision::__construct() must be of the type string, null given"
### Environment
composer show --latest 'sonata-project/*'
#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

I have this bundle installed from a while when it was under the simplethings namespace.

I have millions of record from the `revision

[2021-11-02 16:35] soullivaneuh commented on #457
Surely related: https://github.com/sonata-project/EntityAuditBundle/pull/291

[2021-11-02 16:39] soullivaneuh commented on #457
Note: If not having null is "the way to go", we should at least change the Doctrine data structure for that.

Currently, null values are technically allowed on the database.

[2021-11-02 16:57] soullivaneuh commented on #457
Workaround for another users: Update the database like this:

[code]

[2021-11-09 09:30] AlexeyKosov commented on #418
It's an issue with the ORM: https://github.com/doctrine/orm/issues/5542

[2021-11-28 18:56] #457 closed, assigned to nobody

[2022-01-15 23:25] basvanbeeknl opened #471 "The "security.token_storage" service or alias has been removed or inlined when the container was compiled."
### Environment
Docker image: php:8.0.13-apache
Symfony 6.0.2
#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject
Saving does return error. I am using this bundle together with Doctrine extensions Gedmo Translatable and Blamable.

## Minimal re

[2022-01-16 00:42] VincentLanglet commented on #471
I assume the error is coming from https://github.com/sonata-project/EntityAuditBundle/blob/13e675cc0fa08ac3061139e6027c7488a832709b/src/User/TokenStorageUsernameCallable.php#L28

For Backward compatibility, the construct should be changed this way
[code]
And the config need to be updated.

Do you want to try doing the PR ?

[2022-01-25 07:55] #471 closed, assigned to nobody

[2022-05-15 10:04] #418 closed

[2022-05-25 21:39] mpoiriert opened #494 "Extending revision entity/table."
## Feature Request

I have a use case where on each dashboard save the user mush enter a jira ticket. We are tracking this in the audit table.

To be able to do so I have override the code in a messy way.

I would be willing to change the code to use strategy/factory to create the table and the entity allowing user of the bundle to override the behaviour.

This would not provide the use case menti

[2022-07-14 09:17] StefanGramadnikov opened #502 "Auditing an entity which uses foreign key as primary key fails"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

Auditing entity which uses foreign key as primary key throws exception when entity manager flushes.

## Minimal repository with the bug

## Steps to reproduce

Implement the

[2022-08-08 22:29] VincentLanglet commented on #502
Hi @StefanGramadnikov

While you debug, did you find what should be written instead of
[code]
then ?

[2022-09-26 11:25] byhaskell opened #516 "Ignore fields option not working"
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject
Ignore fields option not working

## Steps to reproduce
It is enough to create a regular entity with created_at and updated_at fields and ignore using options:
[code]

## Expe

[2022-10-07 09:25] pietaj opened #517 "Support for translatable entities"
## Feature Request

The current state of the bundle does not support auditing entities which implement gedmo/knplabs translatable doctrine behaviors. I've started implementing the behavior, but encountered several issues that should be discussed beforehand.

1) gedmo and knplabs load necessary locale data when doctrine postLoad event is fired. As audited entities are not loaded by doctrine, this e

[2022-10-11 21:27] mpoiriert opened #522 "Many To Many audit relation fail with new entity in the relation."
### Environment

#### Sonata packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### Symfony packages

<details><summary>show</summary>
<p>

[code]

</p>
</details>

#### PHP version

[code]

## Subject

Many To Many audit relation fail with new entity in the relation.

## Steps to reproduce

Create EntityA with property many to many on EntityB.

Add one EntityB to the proper

[2022-10-12 12:19] MartinCigarsky commented on #516
Can I work on this?

[2022-10-12 12:19] MartinCigarsky commented on #522
Can I work on this?

[2022-10-12 12:23] mpoiriert commented on #522
I myself I don't have time to work on this soon. I just fix downgrade the dependencies to the previous version.

I don't see why you couldn't do a PR to fix it. But maybe maintainer could give the best way to fix it, mine was just a suggestion.

[2022-10-12 12:32] byhaskell commented on #516
@MartinCigarsky yes, the issue is still there.

[2022-10-12 14:43] VincentLanglet commented on #522
Should be related to https://github.com/sonata-project/EntityAuditBundle/pull/509 cc @pietaj

[2022-11-06 15:39] MartinCigarsky commented on #516
Sorry for late response, but I wasn't able to encounter this bug. More stated in PR.

[2022-11-07 02:26] byhaskell commented on #516
@MartinCigarsky Thanks, perhaps the problem is that the audit of the entire table initially started, then set up ignoring and then the fields do not disappear for the audit? I'll try to revise the settings and update the package, maybe it will help, in any case, thanks for the responsiveness and help.

[2022-11-29 10:04] #494 closed, assigned to nobody